{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
  logged_in ? 'user-logged-in' : 'user-not-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'node--type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }} class="no-js">
<head>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Magazijnier/ bediener CNC-freesmachine",
  "description": "<p>Werken bij MonaVisa betekent werken in een snelgroeiende onderneming met een ambitieus team.</p>

<p>Op professionele wijze werken wij aan innoverende interieuroplossingen voor onze klanten.</p>

<p>Wij bieden een breed scala aan plafond- en wandafwerkingen aan en dragen klanttevredenheid hoog in het vaandel.</p>

<p>MonaVisa heeft ruim 15 jaar een vestiging in Roeselare en is gestart met een tweede vestiging in Hasselt.</p>

<p>Momenteel telt ons team een 30-tal enthousiaste medewerkers.</p>

<p>Wij zoeken versterking in ons magazijn in Ledegem.</p>

<p>Voor ons magazijn in Ledegem zijn wij op zoek naar een enthousiaste collega. Heb je een opleiding en/of werkervaring in schrijnwerk, interieurbouw, meubelmakerij,... Dan is deze job misschien voor jou!</p>

<p>Wil je werken en bijleren? Dan ben je bij ons aan het juiste adres. Ervaring is namelijk geen must. De juiste ingesteldheid wel!  </p>

<h2>Voornaamste takenpakket</h2>
<ul><li>Bedienen CNC-freesmachine</li>
<li>Bedienen paneelzaagmachine</li>
<li>Voorbereiden materiaal werven</li>
<li>Transport</li>
</ul>

<h2>Vereisten</h2>
<ul><li>Je bent stipt en nauwkeurig en hebt oog voor detail</li>
<li>Je bent flexibel en gemotiveerd</li>
<li>Kennis van elektriciteit is een pluspunt maar geen vereiste</li>
<li>Je kan zowel zelfstandig als in teamverband werken</li>
<li>Je bent leergierig</li>
<li>Verantwoordelijkheid nemen schrikt je niet af</li>
<li>Je spreekt Nederlands </li>
<li>Je hebt een rijbewijs B op zak (een rijbewijs voor een heftruck is een pluspunt)</li>
</ul>

<h2>Aanbod</h2>
<ul><li>Je krijgt een voltijds contract (40u) na een inloopperiode en dit in een stabiel bedrijf</li>
<li>Je werkt in een modern uitgerust en ruim magazijn in Ledegem met de nieuwste machines en kwalitatieve materialen</li>
<li>Je krijgt een interne opleiding in het bedienen van de CNC-freesmachine</li>
<li>Je kan rekenen op een goede verloning volgens inzet</li>
</ul>",
  "hiringOrganization" : {
    "@type": "Organization",
    "name": "MonaVisa",
    "sameAs": "https://www.monavisa.be/nl/vacatures/magazijn-ledegem"
  },
  "employmentType": "FULL_TIME",
  "datePosted": "2021-06-09",
  "validThrough": "",
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "",
      "addressLocality": "Ledegem",
      "postalCode": "",
      "addressCountry": ""
    }
  }
}
</script>
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W2XXTLC');</script>
  <head-placeholder token="{{ placeholder_token }}">

    {% if is_front %}
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://monavisa.be/">
      <meta property="og:title" content="Spanplafonds- en wanden in polyester | MonaVisa">
      <meta property="og:description"
            content="Verbeterde akoestiek, een kunstig accent of een echte eyecatcher? Spanplafonds- en wanden van MonaVisa zorgen voor de finishing touch van jouw pand.">
      <meta property="og:image" content="https://monavisa.be/themes/base/images/metamona.png">
    {% endif %}

    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/she3roo.css">
        {% include '@base/includes/favicons.html.twig' %}
        </head>
<body{{ attributes.addClass(body_classes) }}>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2XXTLC"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<a href="#main-content" class="visually-hidden focusable skip-link">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
  <div class="scroll-toggle"></div>

  <script type="text/javascript">

    _linkedin_partner_id = "3134892";

    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);

  </script>
  <script type="text/javascript"> (function () {
      var s = document.getElementsByTagName("script")[0];

      var b = document.createElement("script");
      b.type = "text/javascript";
      b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";

      s.parentNode.insertBefore(b, s);
    })();

  </script>

  <noscript>

    <img height="1" width="1" style="display:none;" alt=""
         src="https://px.ads.linkedin.com/collect/?pid=3134892&fmt=gif"/></noscript>
</body>
</html>
