{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
  logged_in ? 'user-logged-in' : 'user-not-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'node--type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }} class="no-js">
<head>
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Monteurs spanplafonds & -wanden",
  "description": "<p>Werken bij MonaVisa betekent werken in een snelgroeiende onderneming met een ambitieus team.</p>

<p>Op professionele wijze werken wij aan innoverende interieuroplossingen voor onze klanten.</p>

<p>Wij bieden een breed scala aan plafond- en wandafwerkingen aan en dragen klanttevredenheid hoog in het vaandel.</p>

<p>MonaVisa heeft ruim 15 jaar een vestiging in Roeselare en is gestart met een tweede vestiging in Hasselt.</p>

<p>Momenteel telt ons team een 30-tal enthousiaste medewerkers.</p>

<p>Wij zoeken versterking voor ons montageteam in Roeselare en Hasselt</p>

<p>MonaVisa zoekt enthousiaste collega’s. </p>

<p><strong>Ervaring is geen must. De juiste ingesteldheid wel!</strong></p>

<p>Ben jij een sterk en daadkrachtig persoon met oog voor detail, dan hebben wij bij MonaVisa een leuke job voor jou.</p>

<p>Wij zoeken voor onze vestiging te Roeselare en Hasselt mensen om ons team te versterken. </p>

<p>Als monteur van onze plafond- en wandafwerkingen ben je het visitekaartje van onze onderneming.</p>

<p>Je bent betrokken in het project, vanaf de opstart tot en met de afwerking.</p>

<p>Samen met jouw collega’s zorg je voor een maximale klanttevredenheid en klantbediening.</p>

<h2>Voornaamste takenpakket</h2>
<ul><li>Montage van latwerk en randprofielen op muren en plafonds met behulp van lasertoestel</li>
<li>Vervaardigen en plaatsen van MDF licht- en gordijnnissen</li>
<li>Positioneren van verstevigingen voor lichtpunten en- of andere technieken volgens plan of in samenspraak met architect en klant</li>
<li>Leveren en plaatsen van akoestische isolatie</li>
<li>Opspannen en inrollen van polyester plafond- en wanddoeken (koude plaatsing!)</li>
<li>Leveren en plaatsen van verlichtingsarmaturen</li>
<li>Leveren en plaatsen van LED- verlichting + aansluiten van dimmers, sturingen en LED- voedingen </li>
</ul>

<h2>Werkomgeving</h2>
<p>Jouw taken worden (na een interne opleiding) in teamverband op verplaatsing uitgevoerd over heel België, met een door ons ter beschikking gestelde uitgeruste bedrijfswagen. U werkt zowel in particuliere woningen als in bedrijfsgebouwen en openbare instellingen. </p>",
  "hiringOrganization" : {
    "@type": "Organization",
    "name": "MonaVisa",
    "sameAs": "https://www.monavisa.be/nl/node/29"
  },
  "employmentType": "FULL_TIME",
  "datePosted": "2021-06-08",
  "validThrough": "",
  "jobLocation": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "",
      "addressLocality": "Roeselare en Hasselt",
      "postalCode": "",
      "addressCountry": ""
    }
  }
}
</script>
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W2XXTLC');</script>
  <head-placeholder token="{{ placeholder_token }}">

    {% if is_front %}
      <!-- Open Graph / Facebook -->
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://monavisa.be/">
      <meta property="og:title" content="Spanplafonds- en wanden in polyester | MonaVisa">
      <meta property="og:description"
            content="Verbeterde akoestiek, een kunstig accent of een echte eyecatcher? Spanplafonds- en wanden van MonaVisa zorgen voor de finishing touch van jouw pand.">
      <meta property="og:image" content="https://monavisa.be/themes/base/images/metamona.png">
    {% endif %}

    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/she3roo.css">
        {% include '@base/includes/favicons.html.twig' %}
        </head>
<body{{ attributes.addClass(body_classes) }}>
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W2XXTLC"
          height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<a href="#main-content" class="visually-hidden focusable skip-link">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
  <div class="scroll-toggle"></div>

  <script type="text/javascript">

    _linkedin_partner_id = "3134892";

    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);

  </script>
  <script type="text/javascript"> (function () {
      var s = document.getElementsByTagName("script")[0];

      var b = document.createElement("script");
      b.type = "text/javascript";
      b.async = true;
      b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";

      s.parentNode.insertBefore(b, s);
    })();

  </script>

  <noscript>

    <img height="1" width="1" style="display:none;" alt=""
         src="https://px.ads.linkedin.com/collect/?pid=3134892&fmt=gif"/></noscript>
</body>
</html>
