{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <div{{ content_attributes.addClass('field-items') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field-item') }}>
        {% for item in items %}
          {% set full = item.content|join|striptags %}
          {% set empty = 5 - full %}
          {% for i in 1..full %}
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <defs>
                <polygon id="path-6rld0jc1lh-1" points="0 0 15 0 15 15 0 15"></polygon>
              </defs>
              <g id="Reviews" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Group-3-Copy-5" transform="translate(0.358166, 0.053571)">
                  <mask id="mask-6rld0jc1lh-2" fill="white">
                    <use xlink:href="#path-6rld0jc1lh-1"></use>
                  </mask>
                  <g id="Clip-2"></g>
                  <path d="M14.9433959,5.63568087 C14.817509,5.25854025 14.4993099,4.98800614 14.1136139,4.92907791 L10.1982645,4.34247425 L8.43584833,0.601067864 C8.2606781,0.230355777 7.90230229,0 7.5,0 C7.09769771,0 6.7393219,0.230355777 6.56415167,0.601067864 L4.82744857,4.32908147 L0.88638607,4.92907791 C0.500690134,4.98800614 0.183026675,5.25854025 0.0566041186,5.63568087 C-0.0724968823,6.023 0.0228557242,6.44299751 0.305699411,6.7317458 L3.15609952,9.6492285 L2.4827387,13.761347 C2.4157776,14.1722374 2.58184112,14.5745564 2.91718231,14.810805 C3.23966697,15.0395537 3.6542901,15.0620535 3.99927369,14.8718761 L7.47535832,12.930459 L11.0007263,14.8718761 C11.3467813,15.0620535 11.760333,15.0384823 12.0828177,14.810805 C12.4181589,14.5745564 12.5847581,14.1722374 12.5172613,13.761347 L11.8428291,9.64387139 L14.6943006,6.7317458 C14.9771443,6.44299751 15.0724969,6.023 14.9433959,5.63568087" id="Fill-1" fill="#FF0000" mask="url(#mask-6rld0jc1lh-2)"></path>
                </g>
              </g>
            </svg>
          {% endfor %}
          {% if full != 5 %}
            {% for i in 1..empty %}
              <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Reviews" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="06-Reviews" transform="translate(-963.000000, -1779.000000)" fill="#E0EEF0">
                    <g id="Reviews" transform="translate(84.808594, 1254.000000)">
                      <g id="Review" transform="translate(636.191406, 0.000000)">
                        <g id="Group-3-Copy-14" transform="translate(184.549572, 243.291853)">
                          <path d="M72.9433959,287.635681 C72.817509,287.25854 72.4993099,286.988006 72.1136139,286.929078 L68.1982645,286.342474 L66.4358483,282.601068 C66.2606781,282.230356 65.9023023,282 65.5,282 C65.0976977,282 64.7393219,282.230356 64.5641517,282.601068 L62.8274486,286.329081 L58.8863861,286.929078 C58.5006901,286.988006 58.1830267,287.25854 58.0566041,287.635681 C57.9275031,288.023 58.0228557,288.442998 58.3056994,288.731746 L61.1560995,291.649228 L60.4827387,295.761347 C60.4157776,296.172237 60.5818411,296.574556 60.9171823,296.810805 C61.239667,297.039554 61.6542901,297.062054 61.9992737,296.871876 L65.4753583,294.930459 L69.0007263,296.871876 C69.3467813,297.062054 69.760333,297.038482 70.0828177,296.810805 C70.4181589,296.574556 70.5847581,296.172237 70.5172613,295.761347 L69.8428291,291.643871 L72.6943006,288.731746 C72.9771443,288.442998 73.0724969,288.023 72.9433959,287.635681" id="Fill-1"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
