{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
  <div{{ attributes }}>
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% if list.attributes -%}
    {% set list_attributes = list.attributes %}
  {% else %}
    {% set list_attributes = create_attribute() %}
  {% endif %}

  <{{ list.type }}{{ list_attributes.addClass('accordion').setAttribute('data-responsive-accordion-tabs', 'accordion').setAttribute('data-allow-all-closed', 'true') }}>

    {% for row in rows %}
      <li{{ row.attributes.addClass('accordion-item').setAttribute('data-accordion-item', '') }}>
        {{- row.content -}}
      </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
