.paragraph--type--app{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing;
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-wrap: nowrap;
  }
  @include breakpoint(xlarge){
    padding: 0px;
  }
  .right-wrapper{
    background-color: $black;
    @include breakpoint(mediumplus){
      @include flex-grid-column(7 of 12);
    }
    .inner-right{
      padding-top: 90px;
      padding-bottom: 45px;
      padding-left: 25px;
      padding-right: 25px;
      @include breakpoint(mediumplus){
        @include flex-grid-size(4 of 7);
        @include grid-column-offset(2 of 7);
        padding-top: 170px;
        padding-bottom: 170px;
      }
    }
  }
  .field-name-field-title{
    .field-item{
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 32px;
      color: $white;
      letter-spacing: 0.08px;
      line-height: 36px;
    }
  }
  .field-name-field-text{
    margin-top: 25px;
    margin-bottom: 30px;
    .field-item{
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 0.88px;
      line-height: 24px;
    }
  }
  .field-name-field-link,.field-name-field-file{
    a{
      @include button($inverse: true)
    }
  }
  .field-name-field-file{
    margin-top: 25px;
  }
  .field-name-field-image{
    background-color: #F0F0F0;
    @include breakpoint(medium down){
    padding-top: 25px;
    }
    @include breakpoint(mediumplus) {
      @include flex-grid-column(5 of 12);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    img{
      @include breakpoint(medium down){
        max-width: 375px;
        display: block;
        margin: 0 auto;
        margin-bottom: -90px;
      }
      @include breakpoint(mediumplus){
        display: block;
        z-index: 5;
        position: relative;
        margin-left: 0px;
        min-width: 385px;
      }
      @include breakpoint(large){
        min-width: 500px;
      }
      @include breakpoint(xlarge){
        margin-left: 100px;
      }
    }
  }
}
