.paragraph--type--audiofragment {
  @include wrapper-padding();

  position: relative;
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  @include paragraph-spacing;

  div.audiofield-player {
    label {
      display: none;
    }
  }
}
