.view-id-contact.view-display-block-1{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing;
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-wrap: nowrap;
  }
  @include breakpoint(xlarge){
    padding: 0px;
  }
.item-list{
  width: 100%;
}
  ul{
    margin: 0;
    li{
      list-style-type: none;
      margin: 0;
      margin-bottom: 50px;
      @include breakpoint(mediumplus){
        //min-height: 269px;
      }
    }
  }
.paragraph--type--branch {
  height: 100%;
 // min-height: 269px;
  @include breakpoint(mediumplus){
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .map-image-wrapper{

    @include breakpoint(mediumplus) {
      position: relative;
      @include flex-grid-column(7 of 12);
      padding-left: 0px!important;
      padding-right: 0px!important;
      height: 100%;
      .field-name-field-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
  .inner-right{
    height: 100%;
    @include breakpoint(large) {
        @include flex-grid-size(6 of 7);
    }
    .field-name-field-image{
      @include breakpoint(medium down) {
        max-width: 175px;
        margin: 0 auto;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      img{

      }
    }
    .field-name-field-big-image{
      .field-item{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
      picture{
        @include breakpoint(mediumplus){
          display: flex;
        }
      }
      img{
        @include breakpoint(mediumplus) {
          max-height: 185px;
          height: 185px;
          width: calc(100% - 178px);
          margin-left: auto;
          margin-right: 0;
          object-fit: cover;
        }
        @include breakpoint(1230px){
          width: 100%;
        }
      }

    }
  }
    .geolocation-formatter-map-wrapper{
      height: 100%;
      .geolocation-google-map{
        height: 100%;
        @include breakpoint(mediumplus){
          //min-height: 269px;
        }
      }
    }
  }
  .left-wrapper{
    @include breakpoint(mediumplus) {
      @include flex-grid-column(5 of 12);
      padding-left: 0px!important;
      padding-right: 0px!important;
      position: relative;
    }
    @include breakpoint(large) {
      .inner-left {
        @include grid-column-offset(1 of 5);
      }
    }
  }
  .field-name-field-image{
    margin-top: 25px;
    margin-bottom: 25px;
    clip-path: polygon(100% 0, 100% 100%, 50% 80%, 0 100%, 0 0);
    @include breakpoint(large){
      margin-left: -30px;
    }
  }
.field-name-field-name{
  @include breakpoint(medium){
    display: flex;
    flex-direction: row;
  }
  .field-item,.field-label{
    font-weight: 600;
    font-size: 16px;
    color: $black;
    letter-spacing: 1.04px;
    line-height: 26px;
    text-transform: uppercase;
  }
  .field-label{
    margin-right: 8px;
  }
}
  .field-name-field-street{
    .field-item{

    }
  }
  .field-name-field-house-number{
    .field-item{

    }
  }
  .field-name-field-postal{
    .field-item{

    }
  }
  .field-name-field-extra-contact-fields{
    a{
      font-weight: 300;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.88px;
      line-height: 24px;
      transition: 0.3s ease;
      &:hover{
        color: $primary-color;
      }
    }
  }
  .field-name-field-street,.field-name-field-house-number,.field-name-field-postal{
    .field-item{
      font-weight: 300;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.88px;
      line-height: 24px;
    }
  }
  .street-nummer,.postal-place{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
      > div:first-of-type{
        margin-right: 8px;
      }
  }

  .field-name-field-hours{
    background-color: #757575;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    display: inline-block;
    margin-top: 22px;
    @include breakpoint(medium down){
      width: 100%;
    }
    @include breakpoint(mediumplus){
      position: absolute;
      z-index: 1;
      display: inline-table;
      width: fit-content;

      bottom: 0;
      .field-items{
        width: max-content;
      }
    }
    .field-label{
      font-weight: 600;
      font-size: 14px;
      color: $white;
      letter-spacing: 0.91px;
      line-height: 26px;
      text-transform: uppercase;
    }
    .field-item{
      font-weight: 400;
      font-size: 14px;
      color: $white;
      letter-spacing: 0.82px;
      line-height: 20px;
    }
    .field-name-field-label{
      margin-right: 8px;
      @include breakpoint(small down){
        //min-width: fit-content;
      }
      .field-item{
        font-weight: 600;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.82px;
        line-height: 20px;
      }
    }

    .paragraph--type--hours-item{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      @include breakpoint(small down){
        display: flex;
        flex-direction: column;
      }
    }
  }
}
}
.view-id-contact.view-display-block-1{
  padding-left: 0px;
  padding-right: 0px;
}

#node-3 > div.view-mode-full > div > div > div:nth-child(1) > div > div > div > div > div > div > div > ul > li:nth-child(3) > div > div.left-wrapper > div > div.field-wrapper.field.field-paragraph--field-name.field-name-field-name.field-type-string.field-label-inline.clearfix > div.field-label{
  display: none;
}
