.paragraph--type--call-to-action{
  margin-bottom: -50px;
  background-color: $primary-color;
  padding: 50px;
  @include breakpoint(large){
    padding: 100px 0px;
    margin-bottom: -64px;
  }
  .field-name-field-text{
    .field-item{
      h2 {
        font-weight: 600;
        font-size: 39px;
        color: #FFF;
        letter-spacing: 0.1px;
        line-height: 38px;
        word-wrap: break-word;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 25px;
      }
      text-align: center;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .field-name-field-link{
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    a{
      @include button();
      background-color: white;
      color: black;
      display: inline-block;
      &:hover{
        background-color: black;
        color: white;

      }
    }
  }
}
