.paragraph--type--finishers{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing();

  @include breakpoint(xxlarge){
    padding: 0px;
  }
  .no-button-big{
    @include breakpoint(mediumplus){
      display: none;
    }
  }
  .inner-wrapper{
    @include flex-grid-size(10 of 12);
    margin: 0 auto;
    position: relative;
    div.upper-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      span.line{
        height: 1px;
        display: block;
        background-color: $black;
        margin-top: 14px;
        width: 100%;
        transition: 0.3s ease;
        margin-left: 30px;
      }
    > .field-name-field-label {
      margin-bottom: 20px;

      .field-item {
        font-family: $header-font-family;
        font-size: 32px;
        color: $black;
        white-space: nowrap;
        letter-spacing: 0.08px;
        line-height: 36px;
      }
    }
    }
  }

  .swiper-slide{

    margin-right: 10px;
  }

  .paragraph--type--finisher{
    .field-name-field-label{
      margin-top: 15px;
      .field-item{
        font-weight: 300;
        font-size: 14px;
        color: $black;
        letter-spacing: 1.57px;
        text-transform: uppercase;
        text-align: center;
        @include breakpoint(mediumplus){
          text-align: left;
        }
      }
    }
    .field-name-field-image{
      .field-item{
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  .swiper-button-prev,swiper-button-next {
    width: 50px; height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-out;
    background-size: cover;
    margin-top: 0px;
    &:hover, &:focus {
      opacity: .7;
    }
  }
  .swiper-buttons{

  }
  .swiper-button-next {
    width: 50px; height: 42px;
    right: 28px;
    background-size: cover;
    background-image: url("../images/icons/next.svg");
    @include breakpoint(mediumplus){
      right: 8px;
    }
    @include breakpoint(xxlarge){
      right: -22px;
    }
  }
  .swiper-button-prev {
    width: 50px; height: 42px;
    left: 28px;
    background-size: cover;
    background-image: url("../images/icons/prev.svg");
    @include breakpoint(mediumplus){
      left: 8px;
    }
    @include breakpoint(xxlarge){
      left: -22px;
    }
  }
}
