.paragraph--type--form {
  @include wrapper-padding();
  margin-bottom: 50px;
  @include breakpoint(mediumplus) {
    margin-bottom: 80px;
  }
  @include breakpoint(large) {
    margin-bottom: 100px;
  }
  @include breakpoint(xxlarge) {
    margin-bottom: 125px;
  }
  background-color: $light-gray;
  @include breakpoint(mediumplus) {
    background-color: transparent;
  }
  .paragraph-content-wrapper {
    @include grid-row();
    @include breakpoint(mediumplus) {
      background-color: $light-gray;
    }
  }
  .paragraph-content {
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(mediumplus) {
      @include grid-column-gutter;
    }
    @include breakpoint(large) {
      @include flex-grid-column(10 of 12, 0);
      @include grid-column-offset(1 of 12);
      padding-top: 65px;
      padding-bottom: 80px;
    }
  }
  h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
  }
}
