.paragraph--type--homelinks{
  @include wrapper-padding();
  @include paragraph-spacing;
  .paragraph-wrapper {
    @include grid-row;
  }
  @include breakpoint(mediumplus){
    .paragraph-content {
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      div.left-wrapper,div.right-wrapper{
        @include flex-grid-column(1 of 2);
      }
      .left-wrapper {
        display: flex;
        .inner-left {
          background-color: $light-gray;
          &>div {
            @include flex-grid-size(4 of 6);
            padding: 0px;
            margin: 0 auto;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
      .right-wrapper{
        .inner-right{
          @include flex-grid-size(4 of 6);
          padding: 0px;
          margin: 0 auto;
          padding-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
  .field-name-field-links{
    @include breakpoint(mediumplus){
      margin-top: 35px;
    }
    @include breakpoint(medium down){
      margin-bottom: 50px;
    }
    .field-item{
      margin-bottom: 10px;
    }
    .field-item:last-of-type{
      margin-bottom: 0px;
    }
    a{
      @include button($red:true);
    }
  }

  .field-name-field-title{
    margin-bottom: 25px;
    @include breakpoint(mediumplus){
      margin-bottom: 40px;
    }
    .field-item{
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 36px;
      color: $black;
      letter-spacing: 0.09px;
      line-height: 38px;
    }
  }

  .type-overview{
    ul{
      margin: 0;
      li{
        margin: 0;
        list-style-type: none;
        .field-name-field-page-title{
          .field-item{
            font-family: $body-font-family;
            font-weight: 600;
            font-size: 16px;
            color: $black;
            letter-spacing: 1.04px;
            line-height: 26px;
            text-transform: uppercase;
            transition: 0.3s ease;
          }
        }
        .field-name-field-body{
          .field-item{
            font-family: $body-font-family;
            font-weight: 300;
            font-size: 15px;
            color: $black;
            letter-spacing: 0.88px;
            line-height: 24px;
            transition: 0.3s ease;
          }
        }
        .bottom-wrapper{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: nowrap;
          .line-bef{
            height: 1px;
            display: block;
            background-color: $black;
            margin-top: 14px;
            width: 100%;
            transition: 0.3s ease;
          }
          p{
            font-family: $body-font-family;
            font-weight: 600;
            font-size: 15px;
            color: $black;
            letter-spacing: 0.88px;
            line-height: 26px;
            text-align: right;
            min-width: 100px;
            transition: 0.3s ease;

          }
        }
        > div{
          > a{
            &:hover{
              .field-item,p{
                color: $primary-color;
              }
              .line-bef{
                width: 15%;
              }
            }

          }
        }
      }
    }
  }

  .right-wrapper{
    margin-top: 25px;
    margin-bottom: 25px;
    @include breakpoint(mediumplus){
      margin: 0;
    }
  }
}
