.paragraph--type--quotes{
  @include wrapper-padding();
  @include breakpoint(mediumplus){
    padding-left: 0px;
    padding-right: 0px;
  }
  .paragraph--type--quote{
    background-color: $white;

  }
  position: relative;
  max-width: 780px;
  margin: 0 auto;

  @include paragraph-spacing;
  .field-name-field-title{
    position: relative;
    &::before{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='46px' height='39px' viewBox='0 0 46 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E“%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-home' transform='translate(-332.000000, -1528.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M343.32,1566.2 C348.48,1566.2 352.44,1562.96 352.44,1557.68 C352.44,1552.52 348.6,1549.16 344.16,1549.16 C342.36,1549.16 340.56,1549.4 339.12,1550.36 C338.04,1549.28 337.32,1547.84 337.32,1545.44 C337.32,1539.68 342.36,1535.6 350.16,1530.2 L349.32,1528.64 C336.72,1536.2 332.28,1543.28 332.28,1551.92 C332.28,1561.04 337.2,1566.2 343.32,1566.2 Z M368.16,1566.2 C373.32,1566.2 377.28,1562.96 377.28,1557.68 C377.28,1552.52 373.44,1549.16 369,1549.16 C367.2,1549.16 365.4,1549.4 363.96,1550.36 C362.88,1549.28 362.16,1547.84 362.16,1545.44 C362.16,1539.68 367.2,1535.6 375,1530.2 L374.16,1528.64 C361.56,1536.2 357.12,1543.28 357.12,1551.92 C357.12,1561.04 362.04,1566.2 368.16,1566.2 Z' id='“'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");      width: 46px;
      height: 39px;
      display: block;
      margin-bottom: 20px;
      z-index: 20;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 0;
      }
    }
    &::after{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='46px' height='39px' viewBox='0 0 46 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E”%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-home' transform='translate(-1063.000000, -1528.000000)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M1066.4,1566.2 C1079,1558.64 1083.44,1551.56 1083.44,1542.92 C1083.44,1533.8 1078.52,1528.64 1072.4,1528.64 C1067.24,1528.64 1063.28,1531.88 1063.28,1537.16 C1063.28,1542.32 1067.12,1545.68 1071.56,1545.68 C1073.36,1545.68 1075.16,1545.44 1076.6,1544.48 C1077.68,1545.56 1078.4,1547 1078.4,1549.4 C1078.4,1555.16 1073.36,1559.24 1065.56,1564.64 L1066.4,1566.2 Z M1091.24,1566.2 C1103.84,1558.64 1108.28,1551.56 1108.28,1542.92 C1108.28,1533.8 1103.36,1528.64 1097.24,1528.64 C1092.08,1528.64 1088.12,1531.88 1088.12,1537.16 C1088.12,1542.32 1091.96,1545.68 1096.4,1545.68 C1098.2,1545.68 1100,1545.44 1101.44,1544.48 C1102.52,1545.56 1103.24,1547 1103.24,1549.4 C1103.24,1555.16 1098.2,1559.24 1090.4,1564.64 L1091.24,1566.2 Z' id='”'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 46px;
      height: 39px;
      display: block;
      margin-left: auto;
      margin-top: 20px;
      margin-right: 8px;
      z-index: 20;
      @include breakpoint(mediumplus){
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0px;
      }
    }
    .field-item{
      font-family: $body-font-family;
      font-weight: 300;
      font-size: 19px;
      color: $black;
      letter-spacing: 1.12px;
      text-align: center;
      line-height: 30px;
      max-width: 570px;
      margin: 0 auto;
    }
  }
  .field-name-field-name{


    .field-items{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }
    .field-item{
      font-family: $body-font-family;
      font-weight: 300;
      font-size: 19px;
      color: #8B8989;
      letter-spacing: 1.12px;
      text-align: center;
      display: inline-block;
      line-height: 24px;
      &::before{
        content: "-";
        font-family: $body-font-family;
        font-weight: 300;
        font-size: 19px;
        color: #8B8989;
        letter-spacing: 1.12px;
        line-height: 24px;
        display: inline-block;
      }
    }
  }
  .field-name-field-image{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
    img{

      border-radius: 100%;
    }
  }
  .field-name-field-stars{
    margin-bottom: 25px;
    .field-item{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
}
