.paragraph--type--realisations-text{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing;
  @include breakpoint(medium down){
    margin-bottom: 40px;
  }
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-wrap: nowrap;
  }
  @include breakpoint(xlarge){
    padding: 0px;
  }
  .realisation-teaser{
    figcaption{
      @include breakpoint(xlarge){
        width: calc(100% - 226px);
      }
      h2{
        padding-bottom: 0px;
      }
      .field-name-field-types{
        a{
          &::before{
            content: '#';
          }
        }
      }

    }
  }
  .swiper-button-prev,swiper-button-next {
    width: 50px; height: 42px;
    position: absolute;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-out;
    background-size: cover;
    margin-top: 0px;
    &:hover, &:focus {
      opacity: .7;
    }
  }
  .swiper-buttons{

  }
  .swiper-button-next {
    width: 50px; height: 42px;
    right: -22px;
    background-size: cover;
    background-image: url("../images/icons/next.svg");
    @include breakpoint(mediumplus){
      right: 8px;
    }
    @include breakpoint(xxlarge){
      right: -22px;
    }
  }
  .swiper-button-prev {
    width: 50px; height: 42px;
    left: -22px;
    background-size: cover;
    background-image: url("../images/icons/prev.svg");
    @include breakpoint(mediumplus){
      left: 8px;
    }
    @include breakpoint(xxlarge){
      left: -22px;
    }
  }

  .right-wrapper{
    background-color: $black;
    @include breakpoint(mediumplus){
      @include flex-grid-column(7 of 12);
    }
    .inner-right{
      padding-top: 90px;
      padding-bottom: 45px;
      padding-left: 25px;
      padding-right: 25px;
      @include breakpoint(mediumplus){
        @include flex-grid-size(4 of 7);
        @include grid-column-offset(2 of 7);
        padding-top: 170px;
        padding-bottom: 170px;
      }
    }
  }
  .field-name-field-title{
    .field-item{
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 32px;
      color: $white;
      letter-spacing: 0.08px;
      line-height: 36px;
    }
  }
  .field-name-field-text{
    margin-top: 10px;
    margin-bottom: 30px;
    .field-item{
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 0.88px;
      line-height: 24px;
    }
  }
  .field-name-field-link{
    a{
      @include button($red: true)
    }
  }
  .left-wrapper{
    .gotorea{
      margin-top: 25px;
      margin-bottom: 25px;
      font-weight: 300;
      font-size: 12px;
      color: $black;
      letter-spacing: 0.7px;
      line-height: 24px;
      display: block;
      margin-left: 40px;
      &:hover{
        text-decoration: underline;
      }
      @include breakpoint(mediumplus){
        margin-left: calc(20% + 40px);
      }

    }
    @include breakpoint(medium down){
      padding-top: 25px;
    }
    @include breakpoint(mediumplus) {
      @include flex-grid-column(5 of 12);
      background-color: #F0F0F0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    .views-element-container{
      @include breakpoint(mediumplus) {
        @include grid-column-offset(1 of 5);
        z-index: 10;
        position: relative;
        min-width: 100%;
      }
    }
    ul{
      margin: 0;
      position: relative;
      li{
        margin: 0;
        list-style-type: none;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        h2{
          &::after{
            display: none;
          }
        }
      }
    }

  }
}

