.paragraph--type--sharing-text{
@include grid-row();
@include wrapper-padding();
@include paragraph-spacing();
@include breakpoint(mediumplus){
@include flex-grid-row();
flex-wrap:nowrap;
}
@include breakpoint(xlarge){
padding-left:0px!important;
padding-right:0px!important;
}
.a2a_kit{
a{
font-size:23px;
color:white;
transition:0.3s ease;
cursor:pointer;
padding: 0px 8px;
&:hover{
color:black;
}
&:nth-of-type(5){
font-size: 20px;
 margin-top: 2px;
     transition:0.3s ease;
svg{
    background-color: white;
    padding: 3px;
    transition: 0.3s ease;
    border-radius: 4px;
    path{
      transition: 0.3s ease;
    fill: $primary-color;
    }
}
&:hover{
svg{
background-color:$black;}
}
}
}
}
  .left-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      padding-top:60px;
      padding-bottom:85px;
      .field-name-field-text{

              @include flex-grid-column(4 of 6);
              margin:0 auto;
              padding:0px!important;
            }
    }
    @include breakpoint(xlarge){
    padding-left:0px!important;
    padding-right:0px!important;
    }
  }
  .right-wrapper{
  background-color:$primary-color;
    position: relative;
    &::after{
      width: 100%;
      height: 100%;
      background-color: $primary-color;
      position: absolute;
      top: 15px;
      left: -15px;
      display: block;
      @include breakpoint(large){
        top: 65px;
        left: -35px;
      }
    }
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);
      }
  .inner-right{
    z-index: 10;
    position: relative;
  @include breakpoint(medium down){
  padding-top:35px;
    padding-bottom:35px;
  }
    @include breakpoint(mediumplus){
    height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    > span{
    display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 35px;

        }
  }
  }
  .field-name-field-text{
  .field-item{

  }

  }
  .field-name-field-title{
  .field-item{
  font-family: $header-font-family;
  font-weight: 600;
  font-size: 39px;
  color: #FFFFFF;
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 38px;
  }
}
}
