.paragraph--type--slider{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing();    position: relative;
  //max-width: calc(1274px + 13px);
  @include breakpoint(xxlarge){
    padding: 0px;
  }
  .swiper-slide{
    width: auto;

    img{
      max-height: 330px;
      width: auto;
    }
  }
  .swiper-button-prev,swiper-button-next {
    width: 50px; height: 42px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-out;
    background-size: cover;
    margin-top: 0px;
    &:hover, &:focus {
      opacity: .7;
    }
  }
  .swiper-buttons{

  }
  .swiper-button-next {
    width: 50px; height: 42px;
    right: 28px;
    background-size: cover;
    background-image: url("../images/icons/next.svg");
    @include breakpoint(mediumplus){
      right: 8px;
    }
    @include breakpoint(xxlarge){
      right: -22px;
    }
  }
  .swiper-button-prev {
    width: 50px; height: 42px;
    left: 28px;
    background-size: cover;
    background-image: url("../images/icons/prev.svg");
    @include breakpoint(mediumplus){
      left: 8px;
    }
    @include breakpoint(xxlarge){
      left: -22px;
    }
  }
}
