.paragraph--type--title-text{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing;
  @include breakpoint(medium down){
    margin-bottom: 40px;
  }
  @include breakpoint(mediumplus) {
    @include flex-grid-row();
    justify-content: flex-start;
    div.field-name-field-title{
      @include flex-grid-column(4 of 12);
      .field-items{
        @include flex-grid-size(3 of 4);
        @include grid-column-offset(1 of 4);
      }
    }
    div.right-wrapper{
      @include flex-grid-column(7 of 12);
    }
  }
  @include breakpoint(xxlarge){
    padding-left: 0px;
    padding-right: 0px;
  }
  .field-name-field-title{

    @include breakpoint(medium down){
    margin-bottom: 25px;
    }
    @include breakpoint(xxlarge){
      padding-left: 0px!important;
      padding-right: 0px!important;
    }
    .field-item{
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 39px;
      color: $black;
      letter-spacing: 0.1px;
      line-height: 38px;
      word-wrap: break-word;
    }
  }
  .field-name-field-text{
    .field-item{
      font-family: $body-font-family;
      font-weight: 300;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.88px;
      line-height: 24px;
      ul{
        margin: 0;
        li{
          list-style-type: none;
          margin: 0;
          margin-bottom: 15px;
          display: block;
          padding-left: 37px;
          position: relative;
          &::before{
            content: '';
            //background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='19px' viewBox='0 0 17 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELogo/icon rood%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 0 0.000000 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='1.0-Spanplafonds' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-190.000000, -1024.000000)'%3E%3Crect fill='%23FFFFFF' x='0' y='0' width='1440' height='2325'%3E%3C/rect%3E%3Cg id='Logo/icon-rood' transform='translate(190.000000, 1024.500000)' filter='url(%23filter-1)'%3E%3Cg id='Group-3' fill='%23FF0000'%3E%3Cpath d='M16.4092968,17.3322177 L8.71896623,13.8142838 L8.71896623,10.3265511 L16.4092968,0.983061135 L16.4092968,17.3322177 Z M8.20453368,13.8142838 L0.514126608,17.3322177 L0.514126608,0.983061135 L8.20453368,10.3265511 L8.20453368,13.8142838 Z M16.1145268,0.524580214 L8.46174995,9.82319762 L0.80889661,0.524580214 L16.1145268,0.524580214 Z M16.9207465,0.24504342 C16.9198287,0.230372031 16.9176106,0.216168877 16.9142453,0.201809645 C16.9114154,0.190103749 16.908356,0.178944128 16.9041494,0.167862547 C16.9020843,0.162555874 16.9017019,0.156859005 16.8993309,0.151630371 C16.8959656,0.144216637 16.8904587,0.138519768 16.8865581,0.13157427 C16.8806688,0.121273081 16.874856,0.11128405 16.8676665,0.101919333 C16.8587178,0.0902134375 16.8486984,0.0801463671 16.8380671,0.0702353752 C16.8304187,0.0630557591 16.8231527,0.0559541823 16.8145864,0.0497890771 C16.8015077,0.0402682818 16.7873581,0.0330886657 16.7727496,0.0262212067 C16.7663249,0.0232557131 16.761124,0.0184172762 16.7543934,0.0159200184 C16.7520989,0.015061586 16.7497279,0.0152957039 16.7474333,0.0145153109 C16.7329013,0.00952079531 16.7177575,0.00749177336 16.7023842,0.00522863349 C16.6917529,0.00366784737 16.6814275,0.000858432364 16.6707962,0.000624314446 C16.669343,0.000624314446 16.6679663,0 16.6665131,0 L0.25698682,0 C0.255457137,0 0.254080421,0.000624314446 0.252550738,0.000702353752 C0.24176647,0.000858432364 0.231288138,0.00374588668 0.22050387,0.0053847121 C0.205360003,0.00756981266 0.190369106,0.00959883461 0.176066565,0.0144372716 C0.17377204,0.0152957039 0.171324547,0.015061586 0.169030021,0.0159200184 C0.162299414,0.0184172762 0.157022006,0.0232557131 0.150520852,0.0262992461 C0.135988859,0.033166705 0.121915771,0.0402682818 0.108836978,0.0497110378 C0.10027075,0.0559541823 0.0929282697,0.0631337984 0.0852033683,0.0703914538 C0.0747250367,0.0802244064 0.06470561,0.0902134375 0.0559099302,0.101763255 C0.0485674496,0.11128405 0.0427546525,0.121351121 0.036788887,0.131808387 C0.0328881942,0.138675846 0.027457818,0.144294676 0.0241689985,0.151630371 C0.0217979892,0.156780965 0.0214155683,0.162399795 0.0193504957,0.167628429 C0.015067382,0.178944128 0.0119315309,0.190337867 0.00917810071,0.202277881 C0.00588928129,0.216246916 0.00367124029,0.230137913 0.00275343021,0.244341066 C0.00229452518,0.250428132 0,0.256046962 0,0.262212067 L0,17.7377099 C0,17.8265967 0.0440548834,17.9092403 0.117326721,17.9580929 C0.159622468,17.9854847 0.20803695,18 0.257063304,18 C0.292857897,18 0.328576006,17.992118 0.362229042,17.9770564 L8.46167347,14.2719063 L16.5611179,17.9770564 C16.5948474,17.992118 16.630642,18 16.6663601,18 C16.7153865,18 16.7638774,17.9854847 16.8064026,17.9580929 C16.8793685,17.9092403 16.9234234,17.8265967 16.9234234,17.7377099 L16.9234234,0.262212067 C16.9234234,0.25628108 16.9211289,0.250896368 16.9207465,0.24504342 L16.9207465,0.24504342 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='17px' height='19px' viewBox='0 0 17 19' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELogo/icon rood Copy 3%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 0.717647 0 0 0 0 0.192157 0 0 0 0 0.172549 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='6.0-Vacatures' stroke='none' stroke-width='2' fill='none' fill-rule='evenodd'%3E%3Cg id='Logo/icon-rood-Copy-3' transform='translate(0.000000, 0.500000)' filter='url(%23filter-1)'%3E%3Cg id='Group-3' fill='%23FF0000'%3E%3Cpath d='M16.4092968,17.3322177 L8.71896623,13.8142838 L8.71896623,10.3265511 L16.4092968,0.983061135 L16.4092968,17.3322177 Z M8.20453368,13.8142838 L0.514126608,17.3322177 L0.514126608,0.983061135 L8.20453368,10.3265511 L8.20453368,13.8142838 Z M16.1145268,0.524580214 L8.46174995,9.82319762 L0.80889661,0.524580214 L16.1145268,0.524580214 Z M16.9207465,0.24504342 C16.9198287,0.230372031 16.9176106,0.216168877 16.9142453,0.201809645 C16.9114154,0.190103749 16.908356,0.178944128 16.9041494,0.167862547 C16.9020843,0.162555874 16.9017019,0.156859005 16.8993309,0.151630371 C16.8959656,0.144216637 16.8904587,0.138519768 16.8865581,0.13157427 C16.8806688,0.121273081 16.874856,0.11128405 16.8676665,0.101919333 C16.8587178,0.0902134375 16.8486984,0.0801463671 16.8380671,0.0702353752 C16.8304187,0.0630557591 16.8231527,0.0559541823 16.8145864,0.0497890771 C16.8015077,0.0402682818 16.7873581,0.0330886657 16.7727496,0.0262212067 C16.7663249,0.0232557131 16.761124,0.0184172762 16.7543934,0.0159200184 C16.7520989,0.015061586 16.7497279,0.0152957039 16.7474333,0.0145153109 C16.7329013,0.00952079531 16.7177575,0.00749177336 16.7023842,0.00522863349 C16.6917529,0.00366784737 16.6814275,0.000858432364 16.6707962,0.000624314446 C16.669343,0.000624314446 16.6679663,0 16.6665131,0 L0.25698682,0 C0.255457137,0 0.254080421,0.000624314446 0.252550738,0.000702353752 C0.24176647,0.000858432364 0.231288138,0.00374588668 0.22050387,0.0053847121 C0.205360003,0.00756981266 0.190369106,0.00959883461 0.176066565,0.0144372716 C0.17377204,0.0152957039 0.171324547,0.015061586 0.169030021,0.0159200184 C0.162299414,0.0184172762 0.157022006,0.0232557131 0.150520852,0.0262992461 C0.135988859,0.033166705 0.121915771,0.0402682818 0.108836978,0.0497110378 C0.10027075,0.0559541823 0.0929282697,0.0631337984 0.0852033683,0.0703914538 C0.0747250367,0.0802244064 0.06470561,0.0902134375 0.0559099302,0.101763255 C0.0485674496,0.11128405 0.0427546525,0.121351121 0.036788887,0.131808387 C0.0328881942,0.138675846 0.027457818,0.144294676 0.0241689985,0.151630371 C0.0217979892,0.156780965 0.0214155683,0.162399795 0.0193504957,0.167628429 C0.015067382,0.178944128 0.0119315309,0.190337867 0.00917810071,0.202277881 C0.00588928129,0.216246916 0.00367124029,0.230137913 0.00275343021,0.244341066 C0.00229452518,0.250428132 0,0.256046962 0,0.262212067 L0,17.7377099 C0,17.8265967 0.0440548834,17.9092403 0.117326721,17.9580929 C0.159622468,17.9854847 0.20803695,18 0.257063304,18 C0.292857897,18 0.328576006,17.992118 0.362229042,17.9770564 L8.46167347,14.2719063 L16.5611179,17.9770564 C16.5948474,17.992118 16.630642,18 16.6663601,18 C16.7153865,18 16.7638774,17.9854847 16.8064026,17.9580929 C16.8793685,17.9092403 16.9234234,17.8265967 16.9234234,17.7377099 L16.9234234,0.262212067 C16.9234234,0.25628108 16.9211289,0.250896368 16.9207465,0.24504342 L16.9207465,0.24504342 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 18px;
            height: 20px;
            background-size: cover;
            display: inline-block;
            margin-right: 15px;
            margin-bottom: -4px;
            position: absolute;
            left: 0;
            background-color: red;
            background-image: none;
            height: 18Px;
          }
        }
      }
    }
  }
  .field-name-field-link{
    a{
      @include button($red:true);
    }
  }
}
