.paragraph--type--video-text{
  @include grid-row();
  @include wrapper-padding();
  @include paragraph-spacing();
  display: flex;
  flex-direction: column-reverse;
  @include breakpoint(mediumplus){
    @include flex-grid-row();
    flex-direction: row;
    flex-wrap: nowrap;
  }
  @include breakpoint(xxlarge){
    padding-left: 0px;
    padding-right: 0px;
  }
  .left-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
      padding: 0px!important;
    }
    @include breakpoint(xlarge){
      max-width: calc(50% + 13px);
      flex: 0 0 calc(50% + 13px);
    }
  }
  .right-wrapper{
    @include breakpoint(mediumplus){
      @include flex-grid-column(1 of 2);
    }
    .inner-right{
      @include breakpoint(mediumplus){
        @include flex-grid-size(4 of 6);
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  .field-name-field-title{
    margin-bottom: 15px;
    margin-top: 15px;
    @include breakpoint(mediumplus){
      margin-top: 0px;
    }
    .field-item{
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 32px;
      color: $black;
      letter-spacing: 0.08px;
      line-height: 36px;
    }
  }
  .field-name-field-text{
    .field-item{
      font-weight: 300;
      font-size: 15px;
      color: $black;
      letter-spacing: 0.88px;
      line-height: 24px;
    }
    a{
      color: black;
      text-decoration: underline;
      &:hover{
        color: $primary-color;
      }
    }
  }
  .field-name-field-video-link{
    .video-embed-field-responsive-video{
      @include breakpoint(large){
        min-height: 510px;
      }
    }
  }
}
