.paragraph--type--video{
  @include wrapper-padding();
  @include grid-row();
  @include paragraph-spacing;
  background-color: #F0F0F0;
  margin-top: 100px;
  @include breakpoint(xlarge){
    padding: 0px;
  }
  .field-name-field-video-link{
    @include flex-grid-size(10 of 12);
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: -50px;
  }
}
