{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
    <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" width="58" height="61" viewBox="0 0 922 962" xmlns="http://www.w3.org/2000/svg"><path d="M893.933 925.397L474.983 737.57V551.355l418.95-498.872zM446.958 737.57L28.008 925.397V52.483l418.95 498.872zM877.875 28.004L460.97 524.475 44.061 28.005zm43.925-14.92a13.68 13.68 0 00-.359-2.313 14.84 14.84 0 00-.545-1.809c-.117-.287-.138-.587-.267-.866-.183-.396-.48-.7-.696-1.075-.32-.55-.637-1.08-1.03-1.584-.482-.62-1.032-1.162-1.612-1.687-.416-.383-.812-.763-1.275-1.096-.712-.508-1.487-.887-2.279-1.254-.35-.163-.633-.417-1-.55-.129-.046-.258-.033-.383-.08-.792-.262-1.617-.374-2.45-.49-.583-.084-1.142-.238-1.721-.247-.083 0-.154-.033-.237-.033H13.995c-.084 0-.159.033-.242.033-.583.013-1.158.163-1.746.25-.82.121-1.641.23-2.42.488-.121.046-.255.033-.38.079-.37.133-.658.392-1.008.554-.796.363-1.563.742-2.27 1.25-.468.333-.868.717-1.288 1.104-.575.525-1.117 1.054-1.6 1.675-.396.509-.717 1.042-1.038 1.6-.217.371-.512.671-.692 1.063-.129.275-.15.57-.258.854a13.12 13.12 0 00-.558 1.846c-.18.75-.296 1.487-.35 2.25-.021.325-.146.625-.146.954v933.047c0 4.75 2.396 9.162 6.387 11.77a14.215 14.215 0 007.617 2.238c1.946 0 3.892-.421 5.73-1.225L460.97 762l441.238 197.83c1.838.804 3.783 1.225 5.73 1.225 2.674 0 5.312-.775 7.628-2.238a14.08 14.08 0 006.38-11.77V14c0-.317-.125-.604-.146-.917" fill="#fff" fill-rule="nonzero"/></svg>
  </a>
  {% if site_name %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
  {{ site_slogan }}
{% endblock %}
