#footer-wrapper {
  @include wrapper-padding;
  background-color: $black;
  color: $white;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 25px;
  @include breakpoint(mediumplus) {
    padding-bottom: 25px;
  }
  @include breakpoint(large) {
    padding-top: 64px;
    margin-top: 50px;
  }
  a {
    color: $white;
    &:hover, &:focus {
      color: $primary-color;
      transition: .25s ease-out color;
    }
  }
  .contextual-region .contextual .contextual-links a {
    color: $black;
  }
  footer#footer {
    @include grid-row;
  }
  .footer-inner {
    @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
  }
  .region-footer_first {
    @include flex-grid-column(1 of 1);
    @include breakpoint(medium) {
      @include flex-grid-column('shrink');
      @include flex-grid-column(1 of 6);
    }
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 8);
    }
    @include breakpoint(large) {
      @include flex-grid-column(1 of 12);
    }
    .block-sitebranding {
      margin-bottom: 30px;
      @include breakpoint(mediumplus) {
        margin-bottom: 0;
      }
    }
  }
  .region-footer_middle {
    @include flex-grid-column(1 of 1, 0);
    @include breakpoint(medium) {
      @include flex-grid-column('expand', 0);
    }
    @include breakpoint(xlarge) {
      @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
    }
    @include breakpoint(xxlarge) {
      margin-bottom: 30px;
    }
    .block-blijfopdehoogte {
      @include flex-grid-column(1 of 1);
      margin-bottom: 30px;
      @include breakpoint(xxlarge) {
        margin-bottom: 0;
        @include flex-grid-column(3 of 11);
      }
      .body {
        font-weight: 400;
      }
      .body p:last-of-type {
        margin-bottom: 12px;
      }
      .field-wrapper a, span button {
        @include button(true);
      }
      .field-name-field-link + span {
        margin-top: 15px;
        display: block;
      }
      button,a{
        @include button($red:true);
        background-color: $primary-color!important;
        color: white!important;
      }
    }
    .block-contact {
      @include flex-grid-column(1 of 1, 0);
      @include breakpoint(xlarge) {
        @include flex-grid-column(9 of 12, 0);
      }
      @include breakpoint(xxlarge) {
        @include flex-grid-column(6 of 11);
      }
    }
    .block-social {
      @include flex-grid-column(1 of 1);
      margin-bottom: 30px;
      margin-left: -14px;
      @include breakpoint(large) {
        margin-left: -6px;
        margin-top: -3px;
      }
      @include breakpoint(xlarge) {
        @include flex-grid-column('shrink');
      }
      @include breakpoint(xxlarge) {
        margin-left: 0;
      }
    }
  }
  .field-name-field-branches {
    &>.field-items {
      @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
      &>.field-item {
        @include flex-grid-column(1 of 1);
        margin-bottom: 30px;
        @include breakpoint(mediumplus) {
          @include flex-grid-column(1 of 3);
        }
        @include breakpoint(xxlarge) {
          flex: 0 0 auto;
          max-width: unset;
        }
      }
    }
  }
  .region-footer_last {
    @include flex-grid-column(1 of 1);
    @include breakpoint(medium) {
      @include grid-column-offset(1 of 6);
    }
    @include breakpoint(mediumplus) {
      @include grid-column-offset(1 of 8);
    }
    @include breakpoint(large) {
      @include grid-column-offset(1 of 12);
    }
  }
  .menu {
    justify-content: center;
    margin: -15px 0;
    flex-direction: column;
    @include breakpoint(medium) {
      justify-content: flex-start;
      flex-direction: row;
    }
    li {
      display: flex;
      align-items: center;
      @include breakpoint(medium) {
        &:after {
          content: '/';
          margin: 0 6px
        }
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
      & > a, & > span {
        font-weight: 400;
        font-size: rem-calc(12);
        line-height: rem-calc(19);
        letter-spacing: .9px;
        padding: 15px 0;
      }
    }
  }

  #block-contact{
    .field-name-field-branches{
      > .field-items{
        > .field-item:nth-of-type(2){

        }
      }
    }
  }
}

.reveal-overlay{
  outline: none;
  .reveal{
    background-color: $light-gray;
    outline: none;
    @include breakpoint(mediumplus){
      max-width: 845px;
      min-height: 465px;
      width: 100%;
    }
    @include breakpoint(large) {
      padding: 0px;
    }
    .big-wrap{

      outline: none;
      @include breakpoint(large) {
        @include flex-grid-row();
        flex-wrap: nowrap;
      }
      .left-wrapper{
        background-color: $primary-color;
        @include breakpoint(large) {
          @include flex-grid-column(2 of 8);

        }
        .field-name-field-image{
          padding-top: 35px;
          @include breakpoint(large){
            padding-top: 0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          .field-item{
            display: flex;
            flex-direction: row;
            justify-content:center;
            img{
              margin-top: 50px;
              margin-bottom: -50px;
              max-height: 360px;
              width: auto;
              object-fit: contain;
              @include breakpoint(large){
                margin-top: 0px;
                margin-bottom: 0px;
                min-width: 320Px;
                margin-left: 110px;
                z-index: 1;
                margin-top: 230px;
              }
            }
          }
        }
      }
      .right-wrapper{
        background-color: $light-gray;
        margin-top: 65px;
        position: relative;
        @include breakpoint(large) {
          @include flex-grid-column(6 of 8);
          margin-top: 0px;
          padding-top: 30px;
          padding-bottom: 60px;
        }
        .inner-right{
          @include breakpoint(large) {
            @include flex-grid-column(4 of 6);
            margin: 0 auto;
          }
        }
        .field-name-field-title{
          margin-bottom: 20px;
          .field-item{
            font-family: $header-font-family;
            font-size: 26px;
            color: $black;
            letter-spacing: 0.06px;
            line-height: 36px;
          }
        }
        .webform-ajax-form-wrapper{
          background-color: transparent;
          z-index: 1;
          position: relative;
        }
        form{
          position: relative;
          z-index: 1;
          .webform-element--title-inline {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            @include breakpoint(large) {
              flex-direction: row;
            }
            label {
              margin-bottom: .53333rem;
              @include breakpoint(large) {
                flex: 0 1 auto;
                display: flex;
                align-items: center;
                background-color: $input-background;
                padding-left: 15px; padding-right: 0;
                margin-bottom: 0;
              }
            }
            input {
              @include breakpoint(large) {
                flex: 1;
                min-width: 0;
                &:focus + label {
                  background-color: $input-background-focus;
                }
              }
            }
          }
          .webform-confirmation{
            display: none;
          }
        }

        .field-name-field-file{
          position: absolute;
          top: 96px;
          z-index: 0;
          left: 0;
          @include breakpoint(large){
            top: 91px;
            left: 133px;
          }
          a{
            @include button($red:true);
            max-height: 32px;
          }
        }
      }
    }

    .close-button{
      top: 25px;
      right: 25px;
      span{
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Group' transform='translate(1.000000, 1.000000)' stroke='%23000000'%3E%3Cline x1='0.5' y1='0.5' x2='18.5' y2='18.5' id='Line-2'%3E%3C/line%3E%3Cline x1='0.5' y1='0.5' x2='18.5' y2='18.5' id='Line-2-Copy' transform='translate(9.500000, 9.500000) scale(-1, 1) translate(-9.500000, -9.500000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        color: transparent;
        width: 21px;
        height: 21px;
        background-size: cover;
        display: block;
        transition: 0.3s ease;
      }
      &:hover{
        span{
          transform: rotate(25deg);
        }
      }
    }
  }
}

#node-3 > div.view-mode-full > div > div > div:nth-child(1) > div > div > div > div > div > div > div.item-list > ul > li:nth-child(1) > div > div.left-wrapper > div > div.field-wrapper.field.field-paragraph--field-extra-contact-fields.field-name-field-extra-contact-fields.field-type-entity-reference-revisions.field-label-hidden > p:nth-child(3){
  display: none;
}
