// Non-modular or client styles for .l-header region.
#header-wrapper {
  @include wrapper-padding;
  z-index: 14;
  position: relative;
  header#header {
    @include grid-row;
  }
}

.region-header {
  @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
  align-items: center;
  padding-bottom: 24px;
  .block-base-branding {
    @include flex-grid-column('expand');
    max-width: 210px;
    margin-right: auto;
    display: inline-table;
    svg{
      max-width: 180px;
    }
    .fill-path {
      transition: .25s ease-out fill;
    }
  }
}

.block-block-groupheader-top {
  @include flex-grid-column(1 of 1);
  margin-bottom: 15px;
  .block-group-wrapper {
    background-color: $light-gray;
    display: flex;
  }
  .block-base-main-menu {
    margin-left: auto;
  }
  .dropdown.menu {
    .menu-item--active-trail {
      font-weight: $global-weight-bold;
    }
    &> li > a {
      background-color: transparent;
      letter-spacing: 1.26px;
      color: $black;
      font-size: rem-calc(12);
      line-height: rem-calc(14);
      text-transform: uppercase;
      &.highlight {
        background-color: $primary-color;
        color: $white;
        font-weight: 500;
        padding-left: 24px;
        padding-right: 24px;
        margin-left: 15px;
        &:hover, &:focus {
          background-color: $button-background;
          color: $white;
        }
      }
    }
  }
}

.block-secondarynavigation {
  .dropdown.menu > li {
    a,span {
      letter-spacing: 1.47px;
      color: $black;
      font-size: rem-calc(14);
      line-height: rem-calc(16);
      text-transform: uppercase;
      background-color: $body-background;
    }
    ul{
      a,span{
        text-align: left;
        text-transform: capitalize ;
        transition: 0.3s ease;
        &:hover{
          color: $primary-color;
        }
      }
      a{
        padding: 6px 10px;
      }
    }

    &.is-dropdown-submenu-parent > a,  &.is-dropdown-submenu-parent > span {
      padding-right: 15px;

      &::after {
        width: 100%;
        height: 7px;
        min-width: 47px;
        background-image: url("../images/icons/drop.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        border: none;
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        z-index: 2;
      }
    }
    .is-dropdown-submenu {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      padding: 25px 35px;
    }
  }
}

.block-nav-toggle {
  @include grid-col-gutter();
}

.block-base-main-menu,
.block-secondarynavigation {
  @include show-for($mobile-nav-breakpoint);
}
.block-nav-toggle {
  @include hide-for($mobile-nav-breakpoint);
  position: relative;
  z-index: 15;
}


.off-canvas-wrapper {
  ul.menu {
    &>li {
      &>a, &>span {
        transition: color .25s ease-out;
        display: block;
        &.is-active {
          font-weight: $global-weight-bold;
        }
        &:hover, &:focus {
          color: $primary-color;
        }
      }
      &>span {
        cursor: pointer;
      }
    }
  }
}

.block-lang-dropdown{
  margin-left: auto;
  @include breakpoint($mobile-nav-breakpoint) {
    margin-left: 0;
  }
  select{
    background-color: $light-gray;
    margin-bottom: 0px;
    height: 35px;
    font-weight: 500;
    font-size: 13px;
    color: $primary-color;
    letter-spacing: 1.37px;
    text-align: center;
    text-transform: uppercase;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='8px' height='6px' viewBox='0 0 8 6' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ETriangle%3C/title%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Nav/nav' transform='translate(-1342.000000, -16.000000)'%3E%3Crect id='Rectangle' fill='%23F0F0F0' x='83' y='0' width='1275' height='35'%3E%3C/rect%3E%3Cpolygon id='Triangle' fill='%23FF0000' transform='translate(1346.000000, 19.000000) rotate(-180.000000) translate(-1346.000000, -19.000000) ' points='1346 16 1350 22 1342 22'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 10px;
    padding-right: 15px;
    background-position: 20px center;
  }
}

.node--type-offer{
  #block-base-main-menu > ul > li:nth-child(4) > a{
    font-weight: 700;
  }
}

.scroll-toggle{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='38px' height='38px' viewBox='0 0 38 38' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 5%3C/title%3E%3Cg id='0.0-Home' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='0.0-home---sticky-nav-+-scroll-to-top' transform='translate(-1338.000000, -833.000000)'%3E%3Cg id='Group-5' transform='translate(1338.000000, 833.000000)'%3E%3Crect id='Rectangle' fill='%23FF0000' x='0' y='0' width='38' height='38'%3E%3C/rect%3E%3Cpath id='Line-3-Copy' d='M18.8681664,14.3190816 L19.3039541,14.5642122 L27.3039541,19.0642122 L28.078688,19.5 L27.3039541,19.9357878 L19.3039541,24.4357878 L18.8681664,24.6809184 L18.3779051,23.8093429 L18.8136929,23.5642122 L25.15,20 L11.9411765,20 L11.9411765,19 L25.15,19 L18.8136929,15.4357878 L18.3779051,15.1906571 L18.8681664,14.3190816 Z' fill='%23FFFFFF' fill-rule='nonzero'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  width: 38px;
  height: 38px;
  background-size: cover;
  position: fixed;
  display: block;
  bottom: 5px;
  right: 5px;
  z-index: 20;
  transform: rotate(-90deg);
  cursor: pointer;
  opacity: 0;
  transition: 0.4s ease;
  @include breakpoint(medium){
    bottom: 25px;
    right: 25px;
  }
}
.scroll-toggle.in-view{
  opacity: 1;
}
div.sfzfzefz{
  background-color: #FEFEFE;
  COLOR: BLACK;
  width: 20px;
  height: 20px;
  font-size: 16px;
  border-radius: 3px;
  margin-top: 6px;
  margin-left: 7px;
  margin-right: 5px;
}

.fa-instagram{
  background-color: #FEFEFE;
  COLOR: BLACK;
  font-size: 22px;
  padding: 2px;
  border-radius: 2px;
  min-width: 19px;
  transition: 0.3s ease;
  &:hover{
    background-color: $primary-color;
  }
}

#header-wrapper{
  #header-wrapper{
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    top: -400px;
    opacity: 0;
    transition: 0.3s ease;
  }
}
.fixed-header-now{
  #header-wrapper {
    #header-wrapper {
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
}

.article.full{
  .page-content{
    .field-name-field-pdf,.field-name-field-link{
      margin-top: 25px;
      .field-label{
        display: none;
      }
      a{
        @include button($red:true);
      }
    }
  }
}

#node-4,#node-5,,#node-6{
  .header-wrapper{
    margin-bottom: 0px!important;
  }
  .paragraph--type--text-blocks>.field-name-field-text-blocks>.field-items>div{
    @include breakpoint(xlarge) {
      padding-top: 40px !important;
    }
  }
  ul{
    > li{
      > ul{
        > li{
          list-style-type: disc;
          &::before{
            left: 20px;
            top: 8px;
            background-color: $primary-color;
            width: 6px;
            height: 6px;
          }
        }
      }
    }
  }
}

#node-18{
  h2{
    &::after{
      width: calc(100% - 20px);
    }
  }
}

html{
  @include breakpoint(xxxlarge){
    zoom: 1.2;
  }
}
