.region-right_off_canvas {
  padding-top: 124px;
  @include wrapper-padding;
  ul.menu {
    margin: 0 -15px;
    &> li > a {
      color: $body-font-color;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
  }
}

.block-secondarynavigation-canvas {
  margin-bottom: 20px;
  .drilldown a {
    font-size: rem-calc(20);
  }
}

// When logged in and toolbar is visible
.toolbar-horizontal {
  .region-right_off_canvas {
    padding-top: (calc(124px + 39px)); // header height + toolbar height
  }
  &.toolbar-tray-open {
    .region-right_off_canvas {
      padding-top: (calc(124px + 76px)); // header height + toolbar and tray height
    }
  }
}

.off-canvas-content.is-open-right {
  height: 100vh;
}

