// Common abstract classes to extend or parametrics are stored here.

// Example parametrics.
// ------------------------------------------------------
// %font-FONTNAME   {}
// %font-sans-serif { font-family: sans-serif; }
// %font-serif      { font-family: serif; }

p {
  letter-spacing: .88px;
}

h2 {
  line-height: rem-calc(38);
  letter-spacing: 0.09px;
}

.full {
  &.page, &.home, &.sector, &.type, &.overview-page, &.offer {
    header {
      h1 {
        font-size: rem-calc(14);
        line-height: rem-calc(16);
        letter-spacing: 1.57px;
        font-weight: $global-weight-normal;
        font-family: $body-font-family;
        text-transform: uppercase;
      }
      h2 {
        letter-spacing: 0.1px;
      }
      .actions-wrapper {
        margin-top: 30px;
      }
    }
  }
  &.realisation, &.article {
    .page-content {
      h1 {
        @include marked-title;
      }
    }
  }
}

.linkicon {
  list-style-type: none;
  margin: 0 -4px;
  padding: 0;
  display: flex;

  .linkicon__text {
    @include element-invisible;
  }
  &> li {
    margin: 0 4px;
  }
  .linkicon__item {
    font-size: 22px;
    width: 48px; height: 48px;
    display: flex;
    justify-content: center; align-items: center;
    @include breakpoint(large) {
      width: 32px; height: 32px;
    }
  }
}

::-moz-selection {
  color: $white;
  background-color: $primary-color;
}

::selection {
  color: $white;
  background-color: $primary-color;
}

// FORM

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
  height: auto;
}

.js-form-item {
  margin-bottom: 15px;

  input {
    margin-bottom: 0;
  }

  .description {
    font-size: 12px;
    margin-top: 2px;
  }
}

.js-form-type-checkbox {
  display: flex;
  align-items: flex-start;

  input {
    margin-top: 7px;
    display: none;

    &+label {
      display: -webkit-inline-box;
      margin-left: 0px;
      line-height: rem-calc(24);

      &:before {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        margin-right: 10px;
        margin-top: 5px;
        background-color: $input-background;
      }
      &:after {
        display: none;
      }
    }

    &:checked {
      &+label {
        &:before {
          background-image: url("icons/checked.svg");
          background-repeat: no-repeat;
          background-position: center center;
        }
      }
    }
  }
}
.form-item .form-required::after {
  width: auto; height: auto;
  margin: 0 0 0 1px;
  background-image: none;
  content: '*';
}

// Slider

.swiper-custom-buttons {
  .swiper-custom-button {
    width: 50px; height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    opacity: 1;
    transition: opacity .25s ease-out;
    &:hover, &:focus {
      opacity: .7;
    }
  }
  .swiper-custom-button-next {
    right: -19px;
    background-image: url("../images/icons/next.svg");
  }
  .swiper-custom-button-prev {
    left: -19px;
    background-image: url("../images/icons/prev.svg");
  }
}

.user-not-logged-in.path-user {
  .block-system-main-block {
    @include grid-row();
  }
  .user-login-form {
    @include grid-column-gutter();
  }
}

button.eu-cookie-withdraw-tab {
  display: none !important;
}

.block-base-local-tasks {
  @include wrapper-padding;
  .button-group {
    @include grid-row();
  }
}

.region-highlighted {
  @include wrapper-padding;
  &>.callout {
    @include grid-row();
  }
}

.block-system-breadcrumb-block {
  @include grid-row();
  @include grid-column-gutter();
}

// Accordion

.accordion {
  background-color: transparent;
  margin-top: -25px;
}

.accordion-item {
  border-bottom: 1px solid $black;
  &.is-active {
    border-color: $primary-color;
  }
}
.accordion-title {
  letter-spacing: 1.04px;
  line-height: rem-calc(26);
  font-weight: $global-weight-bold;
  padding-right: 30px;
  &:before {
    content: '';
    background-image: url("../images/icons/accordion_drop.svg");
    background-repeat: no-repeat;
    width: 22px; height: 13px;
    margin-top: 0;
    right: 0; top: 35px;
  }
}
.is-active {
  &>.accordion-title {
    &:before {
      content: '';
      transform: rotate(180deg);
      filter: invert(21%) sepia(89%) saturate(1977%) hue-rotate(343deg) brightness(91%) contrast(88%);
    }
  }
}

// Pager
.pagerer-pager-standard {
  .pager__items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    span[aria-hidden="true"] {
      @include element-invisible;
    }
  }
  .pager__item {
    margin: auto 10px;
    font-size: rem-calc(16);
    letter-spacing: 1.79px;
    font-weight: 400;
    &.is-active {
      font-weight: $global-weight-bold;
    }
    a {
      color: $black;
      transition: filter .25s ease-out;
      &:hover, &:focus {
        filter: invert(21%) sepia(89%) saturate(1977%) hue-rotate(343deg) brightness(91%) contrast(88%);
      }
    }
  }
  .pager__item--previous,
  .pager__item--next {
    margin: auto 0;
    a {
      width: 48px; height: 48px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .pager__item--previous {
    a {
      background-image: url("../images/icons/prev_page.svg");
    }
  }
  .pager__item--next {
    a {
      background-image: url("../images/icons/next_page.svg");
    }
  }
}

.user-login-form {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $light-gray;
}

.swiper-custom-button,.swiper-button-prev,.swiper-button-next{
  outline: none;
}

