// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin wrapper-padding($mobile-padding: true){
  @if $mobile-padding {
    @include grid-column-gutter(100px);
  }
  @include breakpoint(mediumplus){
    @include grid-column-gutter(60px);
  }
}

@mixin button($inverse: false,$red: false) {
  padding: $button-padding;
  border: none;
  text-transform: uppercase;
  font-size: rem-calc(14);
  line-height: rem-calc(19);
  background-color: $button-background;
  color: $button-color;
  display: inline-block;
  transition: $button-transition;
  font-weight: 500;
  letter-spacing: .82px;
  @if $inverse {
    background-color: $button-color-alt;
    color: $black;
  }
  @if $red {
    background-color: $primary-color;
    color: $white;
    &:hover, &:focus {
      background-color: $black!important;
      color: $button-color-alt!important;
    }
  }

  &:hover, &:focus {
    background-color: $button-background-hover;
    color: $white;
  }

}
@mixin paragraph-spacing() {
  margin-bottom: 60px;
  @include breakpoint(mediumplus){
    margin-bottom: 75px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 110px;
  }
  @include breakpoint(xlarge){
    margin-bottom: 125px;
  }
}

@mixin marked-title() {
  font-size: rem-calc(28);
  line-height: rem-calc(28);
  margin-bottom: 20px;
  @include breakpoint(mediumplus) {
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
  }
  @include breakpoint(large) {
    font-size: rem-calc(32);
    line-height: rem-calc(32);
  }
  @include breakpoint(xxlarge) {
    font-size: rem-calc(39);
    line-height: rem-calc(38);
  }
  span {
    @include breakpoint(mediumplus) {
      position: relative;
      z-index: 2;
    }
  }
  &:after {
    @include breakpoint(mediumplus) {
      content: '';
      display: block;
      position: absolute;
      bottom: 0; left: 10px;
      width: calc(100% + 10px); height: 85%;
      background-color: $white;
      z-index: 1;
    }
    @include breakpoint(large) {
      height: 75%;
    }
  }
}

@mixin button-red(){

}
