{#
/**
 * @file
 * Theme override for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 */
#}
{% if attributes -%}
<div{{ attributes }}>
  {% endif %}
  <{{ list.type }}{{ list.attributes }}>
  <div {% if view.total_rows > 1 %} class="cert-slider swiper-container" {% endif %}>
    <div class="swiper-wrapper">
      {% for row in rows %}
        <h1>{% set right_rows = view.total_rows %}</h1>
        {% if loop.index < right_rows - 2 %}
          <li class="swiper-slide">
            {{- row.content -}}
          </li>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
