.view-id-blog {
  .item-list > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

header .right-wrapper {
  .view-id-blog.view-display-block-2 {
    @include breakpoint(large) {
      @include flex-grid-column(5 of 7, 0);
      margin-left: auto;
    }
  }
}

.view-id-blog.view-display-block-1 {
  @include grid-row;
  margin-bottom: 20px;
  @include breakpoint(medium) {
    margin-bottom: 40px;
  }
  @include breakpoint(largemin) {
    margin-bottom: 60px;
  }
  @include breakpoint(xxlarge) {
    margin-bottom: 80px;
  }
  .item-list {
    @include breakpoint(xlarge) {
      @include flex-grid-column(10 of 12, 0);
      @include grid-column-offset(1 of 12);
    }
    &> ul {
      @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
      &> li {
        @include flex-grid-column(1 of 1);
        margin-bottom: 30px;
        @include breakpoint(medium) {
          @include flex-grid-column(1 of 2);
          margin-bottom: 50px;
        }
        @include breakpoint(largemin) {
          @include flex-grid-column(1 of 3);
        }
      }
    }
  }
  .pagerer-container {
    @include breakpoint(large) {
      margin-top: 18px;
    }
  }
}

.article.teaser,
.article.teaser-first {
  display: block;
  figure {
    position: relative;

    @include breakpoint(medium) {
      padding-left: 40px;
    }
  }
  figcaption {

    background-color: $dark-gray;
    color: $white;
    transition: background-color .25s ease-out;
    @include breakpoint(medium){
      left: 0;
      position: absolute;
      left: 20px; bottom: 0;
    }
    .field-name-field-date {
      font-size: rem-calc(15);
      line-height: rem-calc(24);
      margin-bottom: 2px;
      letter-spacing: .88px;
    }
    h2 {
      font-family: $body-font-family;
      font-weight: $global-weight-bold;
      letter-spacing: 1.3px;
      font-size: rem-calc(17);
      line-height: rem-calc(22);
      margin-bottom: 0;
    }
  }
  .read-more {
    color: $white;
    margin-top: 20px;
    display: block;
    font-size: rem-calc(13);
    line-height: rem-calc(13);
    letter-spacing: .68px;
    position: relative;
    text-transform: lowercase;
    transition: color .25s ease-out;
    &:after {
      width: 53px;
      border-top: 1px solid $black;
      position: absolute;
      top: 50%; right: -18px;
      transform: translateX(100%);
      transition: border-color .25s ease-out;
    }
  }
  &:hover, &:focus {
    figcaption {
      background-color: $primary-color;
    }
    .read-more {
      color: $white;
      &:after {
        border-color: $primary-color;
      }
    }
  }
}

.article.teaser-first {
  figure {
    padding-bottom: 25px;
    min-height: 200px;
  }
  figcaption {
    padding: 15px 30px 20px 30px;
    @include breakpoint(small down){
      transform: scale(0.8);
    }
    @include breakpoint(medium) {
      h2 {
        width: 300px;
      }
    }
  }
}

.article.teaser {
  figure {
    padding-bottom: 40px;
  }
  figcaption {
    padding: 25px 30px 25px 35px;
    @include breakpoint(medium){
      width: calc(100% - 40px);
    }
  }
}

.article.full {
  .field-name-field-date {
    font-size: rem-calc(15);
    letter-spacing: .88px;
    line-height: rem-calc(24);
    margin-bottom: 30px;
  }
}

#node-15 {
  .header-wrapper {
    @include breakpoint(xlarge) {
      margin-bottom: 0;
    }
    header {
      @include breakpoint(xlarge) {
        padding-bottom: 120px;
      }
    }
  }
  .view-id-blog.view-display-block-1 {
    @include breakpoint(xlarge) {
      margin-top: -50px;
    }
  }
}
