.button, .button.success, .button[disabled].success,
.eu-cookie-compliance-buttons button {
  @include button;
}

.burger-icon {
  @include burger(25px, 3px, 5px, $body-font-color);
}

.menu-button {
  cursor: pointer;
  &.is-active .burger-icon {
    @include burger-to-cross;
  }
}
.menu-button[aria-expanded="true"]{
  @include burger-to-cross;
  span {
  background-color: transparent;
    &::before {
      @if $sass-burger-add-vendor-prefixes {
        -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
      }
      transform: translateY($burger-gutter + $burger-height) rotate(45deg) !important;
    }

    &::after {
      @if $sass-burger-add-vendor-prefixes {
        -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
      }
      transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg) !important;
    }
  }
}
