.paragraph--type--branch {
  p, a {
    font-size: rem-calc(14);
    line-height: rem-calc(19);
    letter-spacing: .82px;
  }
  p {
    margin-bottom: 0;
  }
  p.name {
    font-weight: $global-weight-bold;
    font-size: rem-calc(16);
    text-transform: uppercase;
    letter-spacing: 1.04px;
    margin-bottom: 5px;
  }
}

.geolocation-common-map {
  height: 320px;
  @include breakpoint(mediumplus){
    height: 100%;
  }
}

.gm-style .gm-style-iw-c {
  border-radius: 0;
}

.webform-button--submit{
  margin-top: 15px;
}
.webform-confirmation{
  @include grid-col-gutter;
  @include grid-row;
}

div[id^="edit-upper-wrapper"] {
  @include breakpoint(medium) {
    @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
  }
  &>.form-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    @include breakpoint(medium) {
      @include flex-grid-column(1 of 2);
    }
    @include breakpoint(xlarge) {
      flex-direction: row-reverse;
    }
    label {
      margin-bottom: .53333rem;
      @include breakpoint(xlarge) {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        background-color: $input-background;
        padding-left: 15px; padding-right: 0;
        margin-bottom: 0;
      }
    }
    input {
      @include breakpoint(xlarge) {
        flex: 1;
        min-width: 0;
        &:focus + label {
          background-color: $input-background-focus;
        }
      }
    }
    &.form-item-postal,
    &.form-item-place {
      @include breakpoint(medium) {
        @include flex-grid-column(3 of 12);
      }
    }
    &.form-item-postal {
      @include breakpoint(xxlarge) {
        @include flex-grid-column(5 of 24);
      }
    }
    &.form-item-place {
      @include breakpoint(xxlarge) {
        @include flex-grid-column(7 of 24);
      }
    }
  }
  .js-form-type-select {
    flex-direction: column;
    display: flex;
    @include breakpoint(xlarge) {
      flex-direction: row;
      align-items: center;
    }
    label {
      @include breakpoint(xlarge) {
        margin-right: 20px;
        background-color: transparent;
        padding-left: 0;
      }
    }
    .select2-container {
      @include breakpoint(xlarge) {
        flex: 1;
      }
    }
  }
  fieldset.webform-select2 {
    display: block;
    margin-bottom: 0;
    legend {
      font-size: $form-label-font-size;
      font-weight: $form-label-font-weight;
      line-height: $form-label-line-height;

      @include breakpoint(xlarge) {
        margin-right: 20px; margin-bottom: 0;
        float: left;
      }
    }
    .select2-container--default:not(.select2-container--below),
    .select2-container--open {
      input {
        width: 100% !important;
      }
    }
  }
}

.select2-container--default .select2-selection--multiple {
  padding: .16rem 16px;
  cursor: pointer;
  &:after {
    content: '';
    background-image: url("../images/icons/select_drop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    top: 0; height: 100%; right: 1px;
    display: block;
    width: 20px;
    position: absolute;
  }
}

.select2-container .select2-selection--single {
  height: auto;
  padding: .35rem 16px;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  background-color: $input-background;
  border: $input-border;
  border-radius: $input-radius;
}

.select2-search--dropdown {
  display: none;
}

.select2-dropdown {
  border: $input-border;
  border-radius: $input-radius;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary-color;
}

.select2-container--default {
  .select2-selection--multiple {
    .select2-selection__choice {
      border: $input-border;
      border-radius: $input-radius;
      background-color: $primary-color;
      color: $white;
      font-weight: $global-weight-bold;
      padding: 0 8px;
    }
    .select2-selection__choice__remove {
      color: $white;
    }
  }
  &.select2-container--focus .select2-selection--multiple {
    border: $input-border-focus;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("../images/icons/select_drop.svg");
  background-repeat: no-repeat;
  background-position: center center;
  top: 0; height: 100%;
  b {
    display: none;
  }
}

div[id^="edit-form-footer-container"] {
  @include breakpoint(large) {
    @include flex-grid-row('nest', 'expand', null, true, true, $grid-column-gutter);
    margin-top: 30px;
  }
  .form-item-consent {
    @include breakpoint(xlarge) {
      @include flex-grid-column(1 of 4);
    }
  }
  label[data-drupal-selector^="edit-required"] {
    @include breakpoint(xlarge) {
      @include flex-grid-column('shrink');
    }
  }
  .captcha {
    @include breakpoint(xlarge) {
      @include flex-grid-column('shrink');
    }
  }
  .webform-actions {
    @include breakpoint(xlarge) {
      @include flex-grid-column('expand');
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      input {
        margin-top: 0;
      }
    }
  }
}

.form-item-consent label, label[data-drupal-selector^="edit-required"] {
  font-size: rem-calc(15);
  font-weight: $global-weight-normal;
  letter-spacing: .88px;
}

.captcha {
  margin-bottom: 20px;
}

.js-form-type-textarea {
  display: flex;
  flex-direction: column-reverse;
  label {
    margin-bottom: .53333rem;
    @include breakpoint(xlarge) {
      margin-bottom: 0;
      background-color: $input-background;
      padding-left: 15px; padding-top: 10px;
      display: block;
    }
  }
  textarea {
    @include breakpoint(xlarge) {
      padding-left: 15px;
      &:focus + label {
        background-color: $input-background-focus;
      }
    }
  }
}

.js-form-type-managed-file {
  &>label {
    margin-bottom: 5px;
  }
  #edit-attachments--description{
    @include breakpoint(mediumplus){
      margin-top: -45Px;
      margin-left: 150px;
      display: flex;
    }
  }
  .js-form-type-checkbox {
    margin-top: 10px;
  }
}
