.faq {
  .body {
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}

.overview-page.full {
  .faq .body {
    margin-bottom: 0;
  }
}

.accordion-item{
  .body{
    a{
      font-weight: 700;
      text-decoration: underline;
      color: black;
      transition: 0.3s ease;
      &:hover{
        color: $primary-color;
      }
    }
  }
}
