.home.full {
  h1 {
    margin-bottom: 4px;
  }
  h2 {
    font-size: rem-calc(24);
    line-height: rem-calc(24);
    margin-bottom: 20px;
    @include breakpoint(mediumplus) {
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 0;
    }
    @include breakpoint(largemin) {
      font-size: rem-calc(28);
      line-height: rem-calc(28);
      max-width: 300px;
    }
    @include breakpoint(large) {
      font-size: rem-calc(32);
      line-height: rem-calc(32);
    }
    @include breakpoint(xlarge) {
      font-size: rem-calc(39);
      line-height: rem-calc(38);
    }
    &:after {
      @include breakpoint(mediumplus) {
        content: '';
        display: block;
        position: absolute;
        bottom: 0; left: 10px;
        width: calc(100% + 10px); height: 85%;
        background-color: $white;
        z-index: -1;
      }
      @include breakpoint(large) {
        height: 75%;
      }
    }
  }

  header {
    @include wrapper-padding;
    margin-bottom: 35px;
    @include breakpoint(large) {
      margin-bottom: 60px;
    }

  }

  .header-wrapper {
    @include grid-row;
    @include breakpoint(mediumplus) {
      display: flex;
      background-color: $light-gray;
      position: relative;
    }
    &:after {
      @include breakpoint(mediumplus) {
        content: '';
        position: absolute;
        bottom: 0; left: 40px;
        height: 150px; width: 1px;
        background-image: url("../images/icons/page_header_after.svg");
        transform: translateY(84px);
      }
    }
  }
  .titles {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(3 of 12, 0);
      transform: translateX((100% / 3) * 1);
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      padding-top: 40px;
    }
    @include breakpoint(large) {
      justify-content: flex-end;
      padding-bottom: 130px;
      padding-top: 0;
    }
    .body-link{
      background-color: white;
      margin-top: 35px;
      padding-bottom: 35px;
      @include breakpoint(mediumplus) {
        padding: 25px;
      }
      .field-name-body{

      }
    .field-name-field-link {
      margin-top: 10px;
        a {
          @include button($red:true);
        }
      }
    }
  }
  .slider-wrapper {
    position: relative;
    @include breakpoint(mediumplus) {
      @include flex-grid-column(9 of 12, 0);
      img{
        min-height: 500px;
        object-fit: cover;
      }
    }

  }

  .paragraph--type--slide {
    figure {
      position: relative;
    }
    figcaption {
      position: absolute;
      bottom: 0; left: 0;
      background-color: rgba($black, .57);
      padding: 15px 30px;
      font-size: rem-calc(15);
      line-height: rem-calc(24);
      letter-spacing: .88px;
      display: flex;
      flex-wrap: wrap;
      color: $white;
      .field-name-field-name {
        font-weight: $global-weight-bold;
        flex: 0 0 100%;
        line-height: 1;
      }
      .field-name-field-architect + .field-name-field-type {
        @include breakpoint(medium){
          display: flex;
          align-items: center;
        }
        &:before {
          @include breakpoint(smallplus down) {
            display: none;
          }
          content: '-';
          margin: 0 5px;
        }
      }
      .field-name-field-architect{
        @include breakpoint(smallplus down) {
          width: 100%;
        }
      }
      .field-name-field-type{
        @include breakpoint(smallplus down) {

        }
        .field-item{
          @include breakpoint(smallplus down) {

          }
        }
      }
    }
  }

  .swiper-custom-pagination {
    position: absolute;
    right: 18px; bottom: 18px; left: auto;
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: auto;
    z-index: 2;
    .swiper-pagination-bullet {
      background: none;
      width: auto; height: auto;
      margin: 6px 5px;
      opacity: 1;
      font-size: rem-calc(13);
      letter-spacing: 1px;
    }
    .swiper-pagination-bullet-active {
      font-weight: 500;
    }
  }
  .swiper-custom-pagination {
    @include show-for(medium);
  }
}

.lang-fr{
  .svgnl{
    display: none!important;
  }
}
.lang-nl{
  .svgfr{
    display: none!important;
  }
}
