.view-id-offers.view-display-block-1 {
  .item-list {
    &> ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      &>li {
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.offer.teaser {
  h3 {
    font-size: rem-calc(16);
    line-height: rem-calc(26);
    font-family: $body-font-family;
    font-weight: $global-weight-bold;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }
  .field-wrapper {
    font-size: rem-calc(15);
    line-height: rem-calc(24);
    letter-spacing: .88px;
    margin-bottom: 1px;
  }
  .read-more {
    font-weight: $global-weight-bold;
    font-size: rem-calc(15);
    line-height: rem-calc(15);
    letter-spacing: .88px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    &:before {
      content: '';
      flex: 1 0 auto;
      border-bottom: 1px solid $body-font-color;
      margin-right: 17px; margin-top: 1px;
      transition: border-color .25s ease-out;
    }
  }

  &>a {
    color: $body-font-color;
    transition: color .25s ease-out;
    display: block;
    &:hover, &:focus {
      color: $primary-color;
      .read-more::before {
        border-color: $primary-color;
      }
    }
  }
}

.offer.full{
  .link-wrapper{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(mediumplus){
      margin-top: 70px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @include breakpoint(xlarge){
      margin-bottom: 140px;
    }
    a{
      @include button($red:true);
      display: inline-block;
      @include breakpoint(medium down){
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      &:first-of-type{
        @include breakpoint(mediumplus){
          margin-right: 10px;
          margin-bottom: 0px;
        }
      }
    }
  }
}
