.page,
.type,
.overview-page,
.realisation,
.article,
.sector,
.offer {
  &.full {
    &>.header-wrapper {
      @include wrapper-padding;
      margin-bottom: 50px;
      @include breakpoint(mediumplus) {
        margin-bottom: 80px;
      }
      @include breakpoint(large) {
        margin-bottom: 100px;
      }
      @include breakpoint(xlarge) {
        margin-bottom: 120px;
      }
      &>header {
        @include grid-row;
        @include breakpoint(mediumplus) {
          background-color: $light-gray;
        }
        &>.inner-wrapper {
          @include breakpoint(mediumplus) {
            @include flex-grid-row(null, 'expand', null, true, true, $grid-column-gutter);
            align-items: center;
          }
          @include breakpoint(large) {
            @include flex-grid-row('nest', 'expand', null, false, true, $grid-column-gutter);
          }
          .field-name-field-sector{
            margin-top: 4px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            &::before{
              content: "Sector: ";
              display: inline-block;
              margin-right: 6px;
              line-height: 24px;
            }
            a{
              font-size: 1rem;
              letter-spacing: .88px;
              line-height: 1.6rem;
              text-decoration: underline;
              display: inline-block;
              font-weight: 400;
              transition: 0.3s ease;
              color: $black;
              &:hover{
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

.has-page-header-after .header-wrapper header {
  position: relative;
  &:after {
    @include breakpoint(mediumplus) {
      content: '';
      position: absolute;
      bottom: 0; left: 40px;
      height: 150px; width: 1px;
      background-image: url("../images/icons/page_header_after.svg");
      transform: translateY(84px);
    }
  }
}

#node-15,
#node-12 {
  &.has-page-header-after .header-wrapper header {
    position: static;
    &:after {
      display: none;
    }
  }
}

figure.page-image {
  @include breakpoint(mediumplus) {
    @include flex-grid-column(1 of 3);
  }
  @include breakpoint(largemin) {
    @include flex-grid-column(1 of 2);
  }
  @include breakpoint(large) {
    @include flex-grid-column(6 of 12);
    @include grid-column-offset(1 of 12);
  }
}

.page-content {
  @include breakpoint(mediumplus) {
    @include flex-grid-column(2 of 3);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @include breakpoint(largemin) {
    @include flex-grid-column(1 of 2);
  }
  @include breakpoint(large) {
    @include flex-grid-column(4 of 12);
    @include grid-column-offset(1 of 12);
  }
  h1 {
    margin-bottom: 10px;
  }
  .body,.field-name-field-body {
    a {
      color: $body-font-color;
      transition: color .25s ease-out;
      text-decoration: underline;
      font-weight: 600;
      &:hover, &:focus {
        color: $primary-color;
      }
    }
    p:last-of-type {
      margin-bottom: 0;
    }
    p{
      strong{
        em {
          span {
            line-height: 18px;
            display: block;
            margin-top: 20px;
          }
        }
      }
    }
  }
  &+figure.page-image {
    margin-top: 50px;
    @include breakpoint(mediumplus) {
      margin-top: 0;
    }
  }
}

.overview-page.full {
  &>.header-wrapper {
    background-color: $light-gray;
    @include breakpoint(mediumplus) {
      background-color: transparent;
    }
    &> header > .inner-wrapper {
      align-items: flex-start;
    }
  }
  header {
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(large) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
    @include breakpoint(xlarge) {
      padding-top: 125px;
      padding-bottom: 100px;
    }
  }
  .left-wrapper {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 3);
    }
    @include breakpoint(large) {
      @include flex-grid-column(3 of 12);
      @include grid-column-offset(1 of 12);
    }
    h1 {
      margin-bottom: 10px;
    }
  }
  .right-wrapper {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(2 of 3);
      padding-top: 26px;
    }
    @include breakpoint(large) {
      @include flex-grid-column(7 of 12);
    }
  }
  .full-wrapper {
    @include breakpoint(mediumplus) {
      @include flex-grid-column(1 of 1);
    }
    @include breakpoint(large) {
      @include flex-grid-column(10 of 12);
      @include grid-column-offset(1 of 12);
      margin-top: 30px;
    }
    @include breakpoint(xlarge) {
      margin-top: 60px;
    }
  }
  .body {
    margin-bottom: 20px;
    @include breakpoint(large) {
      margin-bottom: 40px;
    }
  }
  .block-views-exposed-filter-blocks {
    h2 {
      font-size: rem-calc(14);
      line-height: rem-calc(16);
      font-family: $body-font-family;
      letter-spacing: 1.57px;
      margin-bottom: 13px;
      text-transform: uppercase;
    }
    .form-actions {
      @include element-invisible;
    }
  }
  .views-exposed-form {
    margin-bottom: -15px;
    @include breakpoint(medium) {
      @include flex-grid-row('nest', 'expand', null ,true ,true, $grid-column-gutter);
    }
    .form-item {
      @include breakpoint(medium) {
        @include flex-grid-column('shrink');
      }
      select {
        margin-bottom: 0;
        background-color: transparent;
        border: 1px solid $dark-gray;
        padding-left: 15px;
      }
    }
  }
}

.page-content,
.left-wrapper {
  h2 {
    @include marked-title;
  }
}
