.reveal-overlay {
  #block-popup {
    padding: 80px 100px;
    overflow: visible;
  }

  .has-img {
    @include breakpoint(xlarge) {
      left: 122px;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 25px;
    color: #1C1C1C;
    letter-spacing: 0.55px;
    text-align: center;
    text-transform: lowercase;
    line-height: 29px;
  }

  p {
    font-weight: 200;
    font-size: 17px;
    color: #1C1C1C;
    letter-spacing: 0.64px;
    text-align: center;
    line-height: 22px;
  }

  .close-button {
    width: 42px;
    height: 42px;
    //border-radius: 50%;
    color: black;
    //border: solid 1px black;
    transition: 0.3s ease;

    span {
      color: black;
      margin-top: -5Px;
      margin-left: 2px;
      display: block;
    }

    //&:hover {
    //  transform: rotate(45deg);
    //}
  }

  .field-name-field-image {
    @include breakpoint(xlarge) {
      position: absolute;
      top: -30px;
      left: -25px;
      height: 100%;
      width: 245px;
    }

    .field-items {
      @include breakpoint(xlarge) {
        height: 100%;
        width: 245px;
        .field-item {
          height: 100%;
          width: 245px;
        }
      }
    }

    .field-items {
      display: flex;
      flex-direction: row;
      justify-content: center;

      img {
        height: 100%;
        width: 245px;
        object-fit: cover;
      }
    }
  }
}
