.realisation {
  .location-wrapper {
    display: flex;
    flex-direction: column;
    @include breakpoint(mediumplus) {
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
    }
  }
  .location-wrapper, .field-name-field-photographer, .field-name-field-architect {
    font-size: rem-calc(15);
    letter-spacing: .88px;
    line-height: rem-calc(24);
    margin-top: -10px;
  }
  .field-name-field-architect{
    margin-top: 0px;
  }
  .field-name-field-types > .field-items {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left!important;
    @include breakpoint(mediumplus){
      flex-direction: row;
    }
    &>div {
      margin-right: 8px;
      &:last-of-type {
        margin-right: 0;
      }
      &> a {
        color: $body-font-color;
        transition: .25s ease-out color;
        &:hover, &:focus {
          color: $primary-color;
        }
        &:before {
          content: '#';
        }
      }
    }
  }
  .field-name-field-location + .field-name-field-types {
    display: flex;
    align-items: center;
    &:before {
      content: '';
      display: block;
      width: 7px; height: 7px;
      min-width: 7px;
      min-height: 7px;
      margin: auto 15px auto 12px;
      background-image: url("../images/icons/divider.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .field-name-field-photographer,.field-name-field-architect {
    display: flex;
    align-items: center;
    margin-top: 5px ;
    .field-label {
      display: flex;
      align-items: center;
      &:after {
        content: ':';
        margin-right: 5px;
      }
    }
  }
  .location-wrapper, .field-name-field-architect {
    & + .body {
      margin-top: 22px;
    }
  }
}


.realisation-teaser{
  figure{
    .field-name-field-image{
      a{
        position: relative;
        z-index: 5;
        display: block;
        &::after{
          content: "";
          position: absolute;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='56px' height='59px' viewBox='0 0 56 59' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELogo/icon rood%3C/title%3E%3Cg id='5.0-Blog' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' stroke='%23FFFFFF' stroke-width='3'%3E%3Cg id='Logo/icon-rood'%3E%3Cg id='Group-3' transform='translate(1.513514, 1.532468)'%3E%3Cpath d='M52.6921286,0.751966246 C52.6833127,0.715756233 52.673782,0.681236021 52.6606773,0.646957209 C52.6542441,0.630542004 52.6530528,0.612919797 52.6456665,0.596745992 C52.6351827,0.573812984 52.6180275,0.556190778 52.6058758,0.53470617 C52.5875292,0.502841359 52.5694209,0.471942148 52.5470238,0.442974138 C52.5191465,0.406764125 52.4879334,0.375623514 52.4548143,0.344965704 C52.4309875,0.322756896 52.4083521,0.300789488 52.3816662,0.281718882 C52.3409224,0.252268071 52.296843,0.230059264 52.2513339,0.208816056 C52.2313194,0.199642853 52.2151172,0.184676048 52.1941497,0.176951245 C52.1870017,0.174295844 52.1796154,0.175020044 52.1724674,0.172606043 C52.1271965,0.157156438 52.0800196,0.150880036 52.0321278,0.143879433 C51.9990087,0.139051432 51.9668426,0.130361029 51.9337234,0.129636828 C51.9291963,0.129636828 51.9249075,0.127705628 51.9203804,0.127705628 L0.800578584,0.127705628 C0.795813236,0.127705628 0.791524422,0.129636828 0.786759073,0.129878228 C0.753163365,0.130361029 0.720520726,0.139292832 0.686925017,0.144362234 C0.639748065,0.151121436 0.593047648,0.157397838 0.548491637,0.172364643 C0.541343614,0.175020044 0.533719056,0.174295844 0.526571033,0.176951245 C0.505603499,0.184676048 0.489163046,0.199642853 0.468910314,0.209057456 C0.423639501,0.230300664 0.379798293,0.252268071 0.339054561,0.281477482 C0.312368608,0.300789488 0.289494935,0.322998296 0.265429923,0.345448504 C0.232787285,0.375864915 0.201574251,0.406764125 0.174173496,0.442491338 C0.151299822,0.471942148 0.133191497,0.503082759 0.114606637,0.53543037 C0.102454997,0.556673578 0.0855380095,0.574054384 0.0752925097,0.596745992 C0.0679062192,0.612678397 0.066714882,0.630059203 0.0602816613,0.646233009 C0.0469386849,0.681236021 0.03716972,0.716480434 0.0285920923,0.753414647 C0.0183465926,0.796625262 0.0114368369,0.839594477 0.00857762769,0.883529292 C0.00714802307,0.902358499 0,0.919739305 0,0.938809911 L0,54.9960136 C0,55.2709683 0.137242043,55.526611 0.365502247,55.6777275 C0.497264139,55.7624589 0.648087425,55.8073593 0.800816852,55.8073593 C0.912326012,55.8073593 1.0235969,55.7829779 1.12843458,55.7363877 L26.3602412,44.2751945 L51.5920479,55.7363877 C51.6971238,55.7829779 51.808633,55.8073593 51.9199039,55.8073593 C52.0726333,55.8073593 52.2236948,55.7624589 52.3561715,55.6777275 C52.5834787,55.526611 52.7207207,55.2709683 52.7207207,54.9960136 L52.7207207,0.938809911 C52.7207207,0.920463505 52.7135727,0.903806899 52.7123814,0.885701893 C52.7095222,0.840318677 52.7026124,0.796383862 52.6921286,0.751966246 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3Cg id='Group' transform='translate(22.450450, 20.688312)' stroke-linecap='square'%3E%3Cline x1='5.42342342' y1='0.127705628' x2='5.42342342' y2='11.1103896' id='Line-2'%3E%3C/line%3E%3Cline x1='10.8468468' y1='5.74675325' x2='0' y2='5.74675325' id='Line-2-Copy'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 56px;
          height: 59px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 7;
          transition: 0.3s ease;
          opacity: 0;
        }
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.7);
          z-index: 6;
          transition: 0.3s ease;
          opacity: 0;
        }
        &:hover{
          &::before,&::after{
            opacity: 1;
          }
        }
      }
    }
    figcaption{
      background-color: #393939;
      display: inline-block;
      padding: 15px 40Px;
      margin-top: -75px;
      position: relative;z-index: 12;
      max-width: 100%;
      @include breakpoint(small down){
        transform: scale(0.8);
        margin-left: -25px;
        width: 100%;
      }
      @include breakpoint(medium){
        width: calc(100% - 35px);
      }
      h2{
        padding-bottom: 0px;
        margin-bottom: 0px;
        &::after{
          display: none;
        }
        a{
          font-weight: 600;
          font-size: 17px;
          color: $white;
          letter-spacing: 1.3px;
          line-height: 22px;
          font-family: $body-font-family;
        }
      }
      .field-name-field-location{
        margin-bottom: 10px;
        @include breakpoint(xlarge) {
          margin-top: -5Px;
        }
        .field-item{
          a{
            font-weight: 300;
            font-size: 10px;
            color: $white;
            letter-spacing: 0.59px;
            font-family: $body-font-family;
            line-height: 24px;
            text-transform: uppercase;
          }
          font-weight: 300;
          font-size: 10px;
          color: $white;
          letter-spacing: 0.59px;
          font-family: $body-font-family;
          line-height: 24px;
          text-transform: uppercase;
        }
      }
      .field-name-field-types{
        .field-items{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .field-item{
            margin-right: 12px;
            &:last-of-type{
              margin-right: 0px;
            }
            a{
              font-family: $body-font-family;
              font-weight: 300;
              font-size: 12px;
              color: #FFFFFF;
              letter-spacing: 0.7px;
              line-height: 24px;
              text-transform: uppercase;
              transition: 0.3S ease;
              &:hover{
                color: $primary-color;
              }
              &:before {
                content: '#';
              }
            }
          }
        }
      }
    }
  }

}

#overview-rea{
  @include grid-row();
  @include paragraph-spacing;

  @include breakpoint(xlarge){
    padding: 0px;
  }
  ul{
    margin: 0;
    @include breakpoint(mediumplus){
      @include flex-grid-row();
    }

    li{
      margin: 0;
      list-style-type:none ;
      margin-bottom: 25px;
      @include breakpoint(mediumplus){
        @include flex-grid-column(1 of 2);

        margin-bottom: 60px;

      }
      @include breakpoint(large){
        @include flex-grid-column(1 of 3);
        padding-left: 0px!important;
        max-width: 418px;
        padding-right: 0px!important;
        margin-right: 10px;
        &:nth-of-type(3), &:nth-of-type(6){
          margin-right: 0px;
        }
      }
      article{
        max-width: 420px;
        margin: 0 auto;
      }
    }
  }
  ul.pager{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  li.pager__item{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  a.button{
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    color: $black;
    letter-spacing: 1.57px;
    text-transform: lowercase;
    text-align: center;
    text-decoration: underline;
    &:hover{
      color: $primary-color;
    }
  }
}

.realisation.full{
  #lightgallery{
    margin: 0 auto;
    max-width: 1280px;
    @include wrapper-padding();
    @include breakpoint(mediumplus){
      padding: 0px;
    }
    .grid-item{
      margin-bottom: 10px;
        position: relative;
        z-index: 5;
        display: block;
      cursor: pointer;
      @include breakpoint(medium down){
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0px;
        padding-right: 6.6rem;
      }
        &::after{
          content: "";
          position: absolute;
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='56px' height='59px' viewBox='0 0 56 59' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ELogo/icon rood%3C/title%3E%3Cg id='5.0-Blog' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group' stroke='%23FFFFFF' stroke-width='3'%3E%3Cg id='Logo/icon-rood'%3E%3Cg id='Group-3' transform='translate(1.513514, 1.532468)'%3E%3Cpath d='M52.6921286,0.751966246 C52.6833127,0.715756233 52.673782,0.681236021 52.6606773,0.646957209 C52.6542441,0.630542004 52.6530528,0.612919797 52.6456665,0.596745992 C52.6351827,0.573812984 52.6180275,0.556190778 52.6058758,0.53470617 C52.5875292,0.502841359 52.5694209,0.471942148 52.5470238,0.442974138 C52.5191465,0.406764125 52.4879334,0.375623514 52.4548143,0.344965704 C52.4309875,0.322756896 52.4083521,0.300789488 52.3816662,0.281718882 C52.3409224,0.252268071 52.296843,0.230059264 52.2513339,0.208816056 C52.2313194,0.199642853 52.2151172,0.184676048 52.1941497,0.176951245 C52.1870017,0.174295844 52.1796154,0.175020044 52.1724674,0.172606043 C52.1271965,0.157156438 52.0800196,0.150880036 52.0321278,0.143879433 C51.9990087,0.139051432 51.9668426,0.130361029 51.9337234,0.129636828 C51.9291963,0.129636828 51.9249075,0.127705628 51.9203804,0.127705628 L0.800578584,0.127705628 C0.795813236,0.127705628 0.791524422,0.129636828 0.786759073,0.129878228 C0.753163365,0.130361029 0.720520726,0.139292832 0.686925017,0.144362234 C0.639748065,0.151121436 0.593047648,0.157397838 0.548491637,0.172364643 C0.541343614,0.175020044 0.533719056,0.174295844 0.526571033,0.176951245 C0.505603499,0.184676048 0.489163046,0.199642853 0.468910314,0.209057456 C0.423639501,0.230300664 0.379798293,0.252268071 0.339054561,0.281477482 C0.312368608,0.300789488 0.289494935,0.322998296 0.265429923,0.345448504 C0.232787285,0.375864915 0.201574251,0.406764125 0.174173496,0.442491338 C0.151299822,0.471942148 0.133191497,0.503082759 0.114606637,0.53543037 C0.102454997,0.556673578 0.0855380095,0.574054384 0.0752925097,0.596745992 C0.0679062192,0.612678397 0.066714882,0.630059203 0.0602816613,0.646233009 C0.0469386849,0.681236021 0.03716972,0.716480434 0.0285920923,0.753414647 C0.0183465926,0.796625262 0.0114368369,0.839594477 0.00857762769,0.883529292 C0.00714802307,0.902358499 0,0.919739305 0,0.938809911 L0,54.9960136 C0,55.2709683 0.137242043,55.526611 0.365502247,55.6777275 C0.497264139,55.7624589 0.648087425,55.8073593 0.800816852,55.8073593 C0.912326012,55.8073593 1.0235969,55.7829779 1.12843458,55.7363877 L26.3602412,44.2751945 L51.5920479,55.7363877 C51.6971238,55.7829779 51.808633,55.8073593 51.9199039,55.8073593 C52.0726333,55.8073593 52.2236948,55.7624589 52.3561715,55.6777275 C52.5834787,55.526611 52.7207207,55.2709683 52.7207207,54.9960136 L52.7207207,0.938809911 C52.7207207,0.920463505 52.7135727,0.903806899 52.7123814,0.885701893 C52.7095222,0.840318677 52.7026124,0.796383862 52.6921286,0.751966246 Z' id='Fill-1'%3E%3C/path%3E%3C/g%3E%3Cg id='Group' transform='translate(22.450450, 20.688312)' stroke-linecap='square'%3E%3Cline x1='5.42342342' y1='0.127705628' x2='5.42342342' y2='11.1103896' id='Line-2'%3E%3C/line%3E%3Cline x1='10.8468468' y1='5.74675325' x2='0' y2='5.74675325' id='Line-2-Copy'%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 56px;
          height: 59px;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          z-index: 7;
          transition: 0.3s ease;
          opacity: 0;
          @include breakpoint(medium down){
            left: -19%;
          }
        }
        &::before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.7);
          z-index: 6;
          transition: 0.3s ease;
          opacity: 0;
          @include breakpoint(medium down){
            width: calc(100% - 6.6rem);

          }
        }
        &:hover{
          &::before,&::after{
            opacity: 1;
          }
        }

    }
  }
  .link-wrapper{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include breakpoint(mediumplus){
      margin-top: 70px;
      margin-bottom: 70px;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @include breakpoint(xlarge){
      margin-bottom: 140px;
    }
    a{
      @include button($red:true);
      display: inline-block;
      @include breakpoint(medium down){
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      &:first-of-type, &:nth-of-type(3){
        @include breakpoint(mediumplus){
          margin-right: 10px;
          margin-bottom: 0px;
        }
      }
    }
    .back-link{
      background-color: black!important;
      color: white!important;
      &:hover{
        background-color: white!important;
        color: black!important;
      }
    }
  }
}

#node-12 {
  .header-wrapper {
    @include breakpoint(xlarge) {
      margin-bottom: 0;
    }
    &>header {
      @include breakpoint(xlarge) {
        padding-bottom: calc(100px + 160px);
        margin-bottom: -160px;
      }
    }
  }
}

.has-position-right{
  #header-wrapper{
    #header-wrapper{
      display: none;
    }
  }
}
.lang-fr{
  .linknl{
    display: none!important;
  }
}
.lang-nl{
  .linkfr{
    display: none!important;
  }
}
