.view-id-types.view-display-overview,.view-id-types.view-display-block-1 {
  .item-list {
    &> ul {
      padding: 0;
      list-style-type: square;
      &>li {
        margin-bottom: 15px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
.view-id-types.view-display-block-1{
  .views-field-name a  {
    font-size: rem-calc(16);
    line-height: rem-calc(26);
    font-weight: 400;
    letter-spacing: 1.04px;
    text-transform: uppercase;
    color: $black;
    transition: 0.3s ease;
    border-bottom: solid 2px black;
    &:hover{
      color: $primary-color;
    }
  }
}

.type.teaser {
  .field-name-field-page-title {
    font-size: rem-calc(16);
    line-height: rem-calc(26);
    font-weight: $global-weight-bold;
    letter-spacing: 1.04px;
    text-transform: uppercase;
  }
  .field-name-field-body {
    font-size: rem-calc(15);
    line-height: rem-calc(24);
    letter-spacing: .88px;
    margin-bottom: 1px;
  }
  .read-more {
    font-weight: $global-weight-bold;
    font-size: rem-calc(15);
    line-height: rem-calc(15);
    letter-spacing: .88px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    &:before {
      content: '';
      flex: 1 0 auto;
      border-bottom: 1px solid $body-font-color;
      margin-right: 17px; margin-top: 1px;
      transition: border-color .25s ease-out;
    }
  }

  &>a {
    color: $body-font-color;
    transition: color .25s ease-out;
    display: block;
    &:hover, &:focus {
      color: $primary-color;
      .read-more::before {
        border-color: $primary-color;
      }
    }
  }
}

.type.full{
  .page-content{
    & > a{
      @include button($red:true);
    }
  }
}
.page.full{
  .page-content{
    .actions-wrapper{
      & > a{
        @include button($red:true);
      }
    }
  }
}


.sector-overview{
  max-width: $global-width;
  margin: 0 auto;
  margin-bottom: 50px;
  @include breakpoint(large){
    margin-bottom: 100px;
  }
  ul{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    margin-left: -10px;
    li{
      list-style-type: none;
      margin-bottom: 25px;
      padding-left: 10px;
      padding-right: 10px;
      &:hover{
        .views-field-name{
          a{
            background-color: $primary-color;
          }
        }
      }
      @include breakpoint(medium){
        width: 50%;
      }
      @include breakpoint(large){
        width: 33.33%;
      }
      .views-field-name{
        a{
          padding: 25px;
          text-align: center;
          width: 100%;
          max-width: 420px;
          display:inline-block ;
          background-color: #383934;
          font-size: 20px;
          color: white;
          font-weight: 700;
          transition: 0.3s ease;
          text-transform: uppercase;
        }
      }
    }
  }
}
