{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: (optional) Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}

{% if view_mode == 'teaser' %}
  <div{{ attributes.addClass(term.bundle|clean_class, view_mode|clean_class) }}>
    <a href="{{ url }}">
      {{ content }}
      <span class="read-more">
        {{ 'Read more'|t }}
      </span>
    </a>
  </div>
{% elseif view_mode == 'full' %}
  <div{{ attributes.addClass(term.bundle|clean_class, view_mode|clean_class) }}>

    <div class="header-wrapper">
      <header>
        <div class="inner-wrapper">
          <div class="page-content">
            {% if content.field_page_title[0] %}
              <h1>{{ content.field_page_title[0] }}</h1>
            {% else %}
              <h1>{{ name }}</h1>
            {% endif %}
            {% if content.field_sub_title[0] %}
              <h2><span>{{ content.field_sub_title[0] }}</span></h2>
            {% endif %}
            {{ content.field_body }}
            {% if content.field_link[0] %}
              <a href="{{ content.field_link[0]['#url'] }}" class="button">{{ content.field_link[0]['#title'] }}</a>
            {% endif %}
          </div>
          {% if content.field_image[0] %}
            <figure class="page-image">
              {{ content.field_image[0] }}
            </figure>
          {% endif %}
        </div>
      </header>
    </div>

    {# We hide the comments and links now so that we can render them later. #}
    <div class="view-mode-full">
      {{ content.field_sector_view }}
    </div>

  </div>
{% else %}
  <div{{ attributes }}>
    {{ title_prefix }}
    {% if name and not page %}
      <h2>{{ name }}</h2>
    {% endif %}
    {{ title_suffix }}
    {{ content }}
  </div>
{% endif %}
